<template>
    <div class="col-xl-12 col-lg-12 choose_services">
        <div class="heading-with-back row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="title">
                    <h1>
                        <router-link :to="{ name: 'services' }" class="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" stroke-width="0.5" stroke="#000000">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </router-link>
                        Choose a service type
                    </h1>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <router-link :to="{ name: 'services.service.add' }" class="row service_data_inner align-center-flex">
                    <div class="col-lg-12 col-sm-12 col-xs-12 single-service choose_list">
                        <h4>Single Service</h4>
                        <p>Services which can be booked individually</p>
                    </div>
                </router-link>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row service_data_inner align-center-flex">
                    <router-link :to="{ name: 'services.package.add' }" class="col-lg-12 col-sm-12 col-xs-12 package choose_list">
                        <h4>Package</h4>
                        <p>Multiple services booked together in one appointment</p>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
    .choose_services {
        p {
            margin-bottom: 0;
            color: #7b7b7c;
            font-size: 16px;
        }
        .card {
            margin-bottom: 20px;
            .card-body {
                .choose_list {
                    position: relative;
                    padding-left: 100px;
                    background-image: url(../../assets/images/black_arrow.png);
                    background-repeat: no-repeat;
                    background-position: 97%;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 56px;
                        height: 56px;
                        background-repeat: no-repeat;
                        background-color: #ebf7fe;
                        border-radius: 100%;
                        left: 29px;
                        background-position: center;
                        top: -5px;
                    }
                }
                .package:before {
                    background-image: url(../../assets/images/package_icon.png);
                }
                .single-service:before {
                    background-image: url(../../assets/images/singleservice-icon.png);
                }
                h4 {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: .5rem;
                    color: #000;
                }
            }
            &:hover {
                .choose_list {
                    background-image: url(../../assets/images/blue_arrow.png);
                }
                .card-body {
                    h4 {
                        color: #33429b;
                    }
                }
            }
        }
    }
</style>