<template>
    <div class="centralized">
        <div v-if="['services', 'services.category.add', 'services.category.edit', 'services.category.delete'].includes($route.name)">
            <div class="heading-with-back row">
                <div class="col-lg-9 col-xl-9">
                    <div class="title">
                        <h1>
                            <a href="javascript:;" v-on:click="$router.go(-1)" class="go-back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                </svg>
                            </a>
                            Services
                        </h1>
                        <p>Add service or package for your clients.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 text-right top_data">
                    <div class="flex_div">
                        <div class="dropdown">
                            <a v-on:click="show_menu = !show_menu" v-on:blur="show_menu = false" class="dropdown-toggle btn btn-add-new btn-primary" href="javascript:;">Add New</a>
                            <transition name="slide-down-fade" mode="out-in">
                                <div v-if="show_menu" class="dropdown-menu show">
                                    <router-link :to="{ name: 'services.appointment-type' }" class="dropdown-item">New Service</router-link>
                                    <router-link :to="{ name: 'services.category.add' }" class="dropdown-item">New Category</router-link>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="has_list_loaded">
                <div v-if="!services.length" class="card">
                    <div class="card-body no-data">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                            <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                        </svg>
                        <h3>No services</h3>
                        <p>You do not have any services yet, start by adding new category</p>
                        <router-link :to="{ name: 'services.category.add' }" class="btn btn-primary">Add Category</router-link>
                    </div>
                </div>
            </div>
            <div v-else class="data-loader">
                <div class="spinner-border text-primary"></div>
            </div>
            <modal-wrapper :show=show_modal>
                <router-view />
            </modal-wrapper>
        </div>
        <div v-else>
            <router-view />
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                has_list_loaded: false,
                show_menu: false,
                show_modal: false,
                services: []
            }
        },
        created: function () {
            this.$parent.$emit("heading", "Services")

            this.$http.get("services")
            .then(() => {
                this.has_list_loaded = true
            })
        },
        watch: {
            $route: {
                handler: function(newVal) {
                    this.show_modal = newVal.meta && newVal.meta.modal
                },
                immediate: true
            }
        }
    }
</script>
<style lang="scss" scoped>
    .dropdown {
        .dropdown-menu {
            padding: 0;
            left: auto;
            right: 0;
            a {
                padding: 9px 11px;
                background-color: transparent;
                border-bottom: 1px solid #dee3e7;
                text-align: center;
                font-weight: 600;
                font-size: 16px;
                &:last-child {
                    border-bottom: 0;
                }
                &:hover {
                    color: #000;
                    opacity: 0.8;
                }
            }
        }
        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
    }
    .flex_div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .nothing-found {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10rem 0;
        flex-direction: column;
        p {
            margin: 1rem 0 0;
            font-size: 1.5rem;
        }
    }
</style>