<template>
  <div class="centralized">
    <div class="heading-with-back row">
      <div class="col-xl-12 col-lg-12 text-right top_data">
        <div class="flex_div">
          <div class="dropdown">
            <a
              class="dropdown-toggle btn btn-add-new btn-primary"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Add New
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">New Service</a>
              <a class="dropdown-item" href="#">New Category</a>
            </div>
          </div>
          <div class="export_btn">
            <a href="#"
              >Export<svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-download"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                />
                <path
                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                /></svg
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 service_col">
        <div class="heading-with-back row">
          <div class="col-xl-6 col-sm-6 col-lg-6">
            <div class="header_wrp-se">
              <h1>Waxing</h1>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-6 text-right">
            <div class="dot-style">
              <div class="dropdown">
                <a
                  class="dropdown-toggle btn btn-add-new btn-primary"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  ...
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">New Service</a>
                  <a class="dropdown-item" href="#">New Category</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="blue">Full Back Hair Removal</h3>
            <div class="row service_data_inner">
              <div class="col-lg-4 col-sm-4 col-xs-4">
                <span class="light_gray">For Female</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <span class="light_gray">1hr</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-right">
                <span><strong> A $55</strong></span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4">
                <span class="light_gray">For Male</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <span class="light_gray">1hr</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-right">
                <span><strong>From A $65</strong></span>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner">
              <div class="heading_sub-se">
                <h4>1/2 Leg Wax</h4>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4">
                <span></span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <span class="light_gray">15 min</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-right">
                <span><strong>From A $65</strong></span>
              </div>

              <div class="col-lg-4 col-sm-4 col-xs-4">
                <span></span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <span class="light_gray">30 min</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-right">
                <span class="light_gray"
                  >A $120<strong>From A $65</strong></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 service_col">
        <div class="heading-with-back row">
          <div class="col-xl-6 col-sm-6 col-lg-6">
            <div class="header_wrp-se">
              <h1>Hair</h1>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-6 text-right">
            <div class="dot-style">
              <div class="dropdown">
                <a
                  class="dropdown-toggle btn btn-add-new btn-primary"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  ...
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">New Service</a>
                  <a class="dropdown-item" href="#">New Category</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex">
              <div class="col-lg-4 col-sm-4 col-xs-4">
                <h4>Hair Cut</h4>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <span class="light_gray">1hr</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-right">
                <span><strong>From A $150</strong></span>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex">
              <div class="col-lg-4 col-sm-4 col-xs-4">
                <h4>Dlow Dry</h4>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <span class="light_gray">1hr 30 min</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-right">
                <span><strong>A $25</strong></span>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex">
              <div class="col-lg-4 col-sm-4 col-xs-4">
                <h4>Hair Cut</h4>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <span class="light_gray">1hr 30min</span>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 text-right">
                <span class="light_gray"><strong>A $25</strong></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Choose Services -->
      <div class="col-xl-12 col-lg-12 choose_services">
        <div class="heading-with-back row">
          <div class="col-xl-12 col-sm-12 col-lg-12 text-right cross_icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="45"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
          <div class="col-xl-12 col-sm-12 col-lg-12 text-center">
            <h2>Choose a Service Type</h2>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex">
              <div
                class="col-lg-12 col-sm-12 col-xs-12 single-service choose_list"
              >
                <h4>Single Service</h4>
                <p>Services which can be booked individually</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex">
              <div class="col-lg-12 col-sm-12 col-xs-12 package choose_list">
                <h4>Package</h4>
                <p>Multiple services booked together in one appointment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- New Package -->
      <div class="col-xl-12 col-lg-12 new_package">
        <div class="heading-with-back row">
          <div class="col-xl-12 col-sm-12 col-lg-12 text-right cross_icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="45"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
          <div class="col-xl-12 col-sm-12 col-lg-12 text-center">
            <h2>Add New Package</h2>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex border-bottom">
              <div class="col-lg-12 col-sm-12 col-xs-12 package">
                <h3>Basic Info</h3>
                <p>
                  Add a package name, description and choose who it's available
                  for.
                </p>
              </div>
            </div>
            <form>
              <div
                class="row service_data_inner align-center-flex package_form"
              >
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Package Name</label>
                    <input type="text" :class="'form-control'" />
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Package Category</label>
                    <select :class="'form-control'">
                      <option value="">No Package Category Selected</option>
                      <option></option>
                    </select>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Package Available For</label>
                    <select :class="'form-control'">
                      <option value="">Select Package Available</option>
                      <option></option>
                    </select>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label>Package Description</label>
                    <span class="light_gray" style="float: right">0/1000</span>
                    <textarea
                      :class="'form-control'"
                      placeholder="Add a Short Description"
                    >
                    </textarea>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex border-bottom">
              <div class="col-lg-12 col-sm-12 col-xs-12 package">
                <h3>Services</h3>
                <p>Assign services to your package</p>
              </div>
            </div>
            <div
              class="row service_data_inner align-center-flex package_list border-bottom"
            >
              <div class="col-lg-6 col-sm-6 col-xs-6 flex">
                <span class="bar"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    fill="#7b7b7c"
                    viewBox="0 0 16 16"
                    class="bi bi-list"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                    ></path></svg
                ></span>
                <div class="text_service">
                  <h3 class="blue">Full Back Hair Removal</h3>
                  <p>For Female, 1h, 15min processing time after</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6 text-right">
                <span class="cat">A $55</span>
                <span class="cross_red"
                  ><svg
                    data-v-ddebc02c=""
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                    class="bi bi-x"
                  >
                    <path
                      data-v-ddebc02c=""
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                    ></path></svg
                ></span>
              </div>
            </div>
            <div
              class="row service_data_inner align-center-flex package_list border-bottom"
            >
              <div class="col-lg-6 col-sm-6 col-xs-6 flex">
                <span class="bar"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    fill="#7b7b7c"
                    viewBox="0 0 16 16"
                    class="bi bi-list"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                    ></path></svg
                ></span>
                <div class="text_service">
                  <h3 class="blue">Blow Dry</h3>
                  <p>1h 30min</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6 text-right">
                <span class="cat">A $25</span>
                <span class="cross_red"
                  ><svg
                    data-v-ddebc02c=""
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                    class="bi bi-x"
                  >
                    <path
                      data-v-ddebc02c=""
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                    ></path></svg
                ></span>
              </div>
            </div>
            <div class="row service_data_inner align-center-flex package_list">
              <div class="col-lg-6 col-sm-6 col-xs-6 flex">
                <h3 class="blue">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-plus-circle"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                    /></svg
                  ><a href="#">Add another service</a>
                </h3>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6 text-right">
                <span class="cat">Total: A $80 (2h 45min)</span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex border-bottom">
              <div class="col-lg-12 col-sm-12 col-xs-12 price">
                <h3>Price</h3>
                <p>Add the price of the package.</p>
              </div>
            </div>
            <form>
              <div class="row service_data_inner align-center-flex price_form">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label>Pricing Type</label>
                    <select :class="'form-control'">
                      <option value="">Service Pricing</option>
                      <option></option>
                    </select>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label>Retail Price</label>
                    <div class="input-group fill">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> A $ </span>
                      </div>
                      <input :class="'form-control'" value="80.00" />
                      <span class="invalid-feedback"></span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex border-bottom">
              <div class="col-lg-12 col-sm-12 col-xs-12 package">
                <h3>Basic Info</h3>
                <p>
                  Add a service name and choose the treatment type.
                </p>
              </div>
            </div>
            <form>
              <div
                class="row service_data_inner align-center-flex package_form"
              >
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Service name</label>
                    <input type="text" :class="'form-control'" />
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Service Category</label>
                    <select :class="'form-control'">
                      <option value="">No Service Category Selected</option>
                      <option></option>
                    </select>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Services Available For</label>
                    <select :class="'form-control'">
                      <option value="">Everyone</option>
                      <option></option>
                    </select>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label>Service Description</label>
                    <span class="light_gray" style="float: right">0/1000</span>
                    <textarea
                      :class="'form-control'"
                      placeholder="Add a Short Description"
                    >
                    </textarea>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row service_data_inner align-center-flex border-bottom">
              <div class="col-lg-12 col-sm-12 col-xs-12 package">
                <h3>Location</h3>
                <p>
                 Choose the location where the service will take place.
                </p>
              </div>
            </div>
            <form>
              <div
                class="row service_data_inner align-center-flex package_form"
              >
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Service name</label>
                    <input type="text" :class="'form-control'" />
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Service Category</label>
                    <select :class="'form-control'">
                      <option value="">No Service Category Selected</option>
                      <option></option>
                    </select>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label>Services Available For</label>
                    <select :class="'form-control'">
                      <option value="">Everyone</option>
                      <option></option>
                    </select>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label>Service Description</label>
                    <span class="light_gray" style="float: right">0/1000</span>
                    <textarea
                      :class="'form-control'"
                      placeholder="Add a Short Description"
                    >
                    </textarea>
                    <span class="invalid-feedback"></span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row Save_btn">
          <div class="col-lg-12 col-sm-12 col-xs-12 text-right">
            <a href="#" class="btn btn-add-new btn-primary"> Save </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  created: function () {
    this.$root.$emit("heading", "Services");
  },
};
</script>
<style lang="scss" scoped>
.col-md-6 {
  margin-top: 1rem;
}
.col-md-6:first-child {
  margin: 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.card {
  border: 1px solid #f7f7f8;
  box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
  transition: box-shadow 0.2s ease;

  .card-row {
    display: block;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee3e7;

    span {
      display: block;
    }

    .description {
      color: #878c93;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}

.card:hover {
  box-shadow: 0 5px 15px 5px rgba(164, 173, 186, 0.25);
}

.card-row:first-child,
.card-row:last-child {
  margin-top: 0.5rem;
}

.card-row:last-child {
  border: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
.centralized {
  .service_col {
    .header_wrp-se {
      h1 {
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
  .heading_sub-se {
    float: left;
    width: 100%;
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .service_col {
    margin-bottom: 30px;
    .card-body {
      border-left: 5px solid #11cfbd;
      .align-center-flex {
        h4,
        span {
          margin: 0 !important;
        }
        h4 {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .service_data_inner {
        float: left;
        width: 100%;
        margin: 0;
        .col-sm-4 {
          padding: 0;
        }
        .col-lg-4 {
          padding: 0;
        }
        .col-xs-4 {
          padding: 0;
        }
        .light_gray {
          color: #7b7b7c;
        }
        span {
          font-size: 16px;
          color: #000;
          display: block;
          margin: 8px 0;
          strong {
            color: #000;
            margin-left: 10px;
          }
        }
      }
    }
    .card-body h3 {
      color: #33429b;
      font-size: 18px;
      font-weight: 600;
    }
    .heading-with-back {
      margin: 0;
      padding: 0 14px;
    }
  }
  .inner_data {
    width: 100%;
    display: flex;
  }
  .top_data {
    width: 100%;
  }
  .dropdown .dropdown-menu {
    padding: 0;
    // display: block;
    a {
      padding: 9px 11px;
      background-color: transparent;
      border-bottom: 1px solid #dee3e7;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
    }
    a:last-child {
      border-bottom: 0;
    }
    a:hover {
      color: #000;
      opacity: 0.8;
    }
  }
  .dropdown .dropdown-toggle::after {
    display: none;
  }

  .dropdown .btn {
    padding: 0.7rem 2rem;
    line-height: normal;
  }
  .flex_div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    .dropdown .dropdown-menu {
      max-width: 141px;
      min-width: auto;
      left: -38px;
    }
    .export_btn a {
      background-color: #fff;
      border: 1px solid #f7f7f8;
      box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
      transition: box-shadow 0.2s ease;
      padding: 13px 20px 13px 20px;
      border-radius: 6px;
      font-size: 1rem;
      line-height: 1.5;
      color: #000;
      background-repeat: no-repeat;
      background-position: 86%;
      margin-right: 15px;
      font-weight: 600;
      svg {
        margin-left: 20px;
      }
    }
  }
  .dot-style {
    display: block;
    max-width: 159px;
    float: right;
    width: 100%;
    .dropdown {
      margin-bottom: 28px;
      .btn-primary {
        color: #000;
        background-color: transparent;
        border: none;
        box-shadow: inherit;
        font-size: 40px;
        line-height: 0;
        padding-top: 0;
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .col-md-6 {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .centralized {
    .row {
      margin: 0;
      .flex_div {
        margin-top: 35px;
      }
    }
    .card .card-body {
      padding: 1rem 18px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .centralized {
    .card {
      border: 1px solid #dee3e799;
    }
    .dot-style {
      .dropdown {
        .btn-primary {
          font-size: 33px;
        }
      }
    }
    .service_col {
      .heading_sub-se {
        h4 {
          font-size: 16px;
        }
      }
      .header_wrp-se {
        h1 {
          font-size: 22px;
        }
      }
      .card-body {
        .align-center-flex {
          h4 {
            font-size: 16px;
          }
        }
        h3 {
          font-size: 16px;
        }
        .service_data_inner {
          span {
            font-size: 13px;
          }
        }
      }
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .flex_div {
      .export_btn {
        a {
          padding: 11px 14px 11px 16px;
        }
      }
    }
    .dropdown {
      .btn {
        padding: 0.6rem 1.5rem;
      }
    }
  }
  .col-xl-6 {
    padding: 0;
  }
  .card {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

// Choose Services

.choose_services {
  h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  p {
    margin-bottom: 0;
    color: #7b7b7c;
    font-size: 16px;
  }
  .card {
    margin-bottom: 20px;
    .card-body {
      padding: 1.8rem 2em;
      .choose_list {
        position: relative;
        padding-left: 100px;
        background-image: url(../../assets/images/black_arrow.png);
        background-repeat: no-repeat;
        background-position: 97%;
      }
      .package:before {
        background-image: url(../../assets/images/package_icon.png);
      }
      .single-service:before {
        background-image: url(../../assets/images/singleservice-icon.png);
      }
      .choose_list:before {
        content: "";
        position: absolute;
        width: 56px;
        height: 56px;
        background-repeat: no-repeat;
        background-color: #ebf7fe;
        border-radius: 100%;
        left: 29px;
        background-position: center;
        top: -5px;
      }
      h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
  .card:hover {
    .choose_list {
      background-image: url(../../assets/images/blue_arrow.png);
    }
    .card-body {
      h4 {
        color: #33429b;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .choose_services {
    .card {
      .card-body {
        .choose_list {
          padding-left: 70px;
        }
        .choose_list:before {
          left: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .choose_services {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
      padding-right: 10px;
    }
    .card {
      .card-body {
        h4 {
          font-size: 16px;
        }
        .choose_list:before {
          left: -12px;
          width: 46px;
          height: 46px;
          background-size: 20px;
        }
        .choose_list {
          padding-left: 45px;
          background-size: 10px;
          background-position: 98%;
        }
      }
    }
  }
}

// New Package

.new_package {
  .package_list:last-child {
    padding: 30px 0 5px;
  }
  .package_list {
    padding: 25px 0;
    margin: 0px;
    .blue {
      font-size: 17px;
      align-items: center;
      display: flex;
      margin-bottom: 0;
      a {
        color: #33429b;
        font-weight: 600;
        margin-left: 6px;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-bottom: 0;
      color: #7b7b7c;
    }
    .cross_red {
      color: red;
      position: absolute;
      right: -9px;
    }
    .cat {
      font-weight: 600;
      font-size: 17px;
      margin-right: 10px;
    }
    .flex {
      display: flex;
      padding: 0;
      align-items: center;
      .bar {
        margin-right: 15px;
      }
      .text_service {
        h3 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
  }
  .card {
    margin-bottom: 30px;
    border-radius: 0;
  }
  h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .card-body {
    .package_form {
      padding-top: 25px;
      label {
        font-size: 14px;
        font-weight: 600;
      }
      textarea {
        height: 97px;
        resize: none;
      }
    }

    .package {
      padding-bottom: 25px;
      h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 2px;
      }
      p {
        margin-bottom: 0;
        color: #7b7b7c;
      }
    }
  }
  .price_form {
    .fill {
      .input-group-text {
        background-color: #d5d7da;
        color: #7b7b7c;
      }
      input::-webkit-input-placeholder {
        /* Edge */
        color: #7b7b7c;
      }

      input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #7b7b7c;
      }

      input::placeholder {
        color: #7b7b7c;
      }
      input {
        background-color: #d5d7da;
        color: #7b7b7c;
        border-left: 1px solid #7b7b7c47;
      }
    }
    padding-top: 25px;
    label {
      font-size: 14px;
      font-weight: 600;
    }
  }
  .price {
    padding-bottom: 25px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 2px;
    }
    p {
      margin-bottom: 0;
      color: #7b7b7c;
    }
  }
}
</style>