<template>
    <div class="add_single_service">
        <div class="heading-with-back row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="title">
                    <h1>
                        <router-link :to="{ name: 'services' }" class="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" stroke-width="0.5" stroke="#000000">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </router-link>
                        <span v-if="$route.params.id">Edit service</span>
                        <span v-else>Add a new single service</span>
                    </h1>
                </div>
            </div>
        </div>
        <form v-on:submit.prevent="submitForm" autocomplete="off">
            <div class="card">
                <div class="card-header">
                    <h2>Basic Info</h2>
                    <p>Add a service name</p>
                </div>
                <div class="card-body wapper_form">
                    <form v-on:submit.prevent="submitForm" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <form-input :model="name" label="Service name" />
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <searchable-list v-if="categories.length" heading="Select category" placeholder="Search category..." :items=categories :model=category _key="id" _value="title" />
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <form-dropdown :model=available_for label="Service available for" :items="[{'key': 'male', 'value': 'Male'}, {'key': 'female', 'value': 'Female'}]" />
                            </div>
                        </div>
                        <form-input :model="description" type="textarea" label="Service description" />
                    </form>
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-header">
                    <h2>Pricing and Duration</h2>
                    <p>Add the pricing options and duration of the service.</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 col-xs-3">
                            <searchable-list v-if="durations.length" heading="Select duration" placeholder="Search duration..." :items=durations :model=duration />
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-3">
                            <form-dropdown :model=price_type label="Price type" :items="[{'key': 'from', 'value': 'From'}, {'key': 'fixed', 'value': 'Fixed'}]" />
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-3">
                            <form-input :model=price label="Price">
                                <template v-slot:input_group_prepend>
                                    PKR
                                </template>
                            </form-input>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-3">
                            <form-input :model=special_price label="Special Price (optional)">
                                <template v-slot:input_group_prepend>
                                    PKR
                                </template>
                            </form-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-header">
                    <h1>Online bookings</h1>
                    <p>Enable online bookings, choose who the service is available for and add a short description.</p>
                </div>
                <div class="card-body">
                    <toggler :model=online_bookings label="Enable online bookings" value="1" />
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-header">
                    <h1>Staff</h1>
                    <p>Assign staff to the service and manage staff commission</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div v-for="staff_member in staff_members" v-bind:key="staff_member.id" class="col-lg-4 col-sm-4 col-xs-4">
                            <div class="form-checked">
                                <checkbox :label="staff_member.first_name + ' ' + staff_member.last_name" :model=staff_ids :value="staff_member.user_id" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-header">
                    <h2>Sales Settings</h2>
                    <p>Set the tax rate</p>
                </div>
                <div class="card-body wapper_form">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <form-dropdown :model=tax label="Tax (included in price)" :items=taxes _key="id" _value="title" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 mt-5 footer">
                    <form-button type="submit" :disabled="!is_complete || is_submitted" :is_submitted=is_submitted />
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    import checkbox from "../helpers/form-checkbox"
    import searchableList from "../helpers/searchable-list"
    import toggler from "../helpers/toggler"

    export default {
        components: {
            checkbox,
            toggler,
            searchableList
        },
        data: function () {
            return {
                name: {
                    value: "",
                    error: null,
                    required: true
                },
                category: {
                    label: "Search category",
                    value: "",
                    error: null,
                    required: true
                },
                available_for: {
                    value: "",
                    error: null
                },
                description: {
                    value: "",
                    error: null,
                    maxlength: 500
                },
                duration: {
                    label: "Duration",
                    value: "60",
                    error: null,
                    required: true
                },
                price_type: {
                    value: "fixed",
                    error: null,
                    required: true
                },
                price: {
                    value: "",
                    error: null,
                    type: "number",
                    placeholder: "0.00",
                    required: true
                },
                special_price: {
                    value: "",
                    error: null,
                    type: "number",
                    placeholder: "0.00"
                },
                online_bookings: {
                    value: 0,
                    error: null
                },
                staff_ids: {
                    value: []
                },
                tax: {
                    value: "",
                    error: null
                },
                categories: [],
                durations: [],
                staff_members: [],
                taxes: [],
                is_submitted: false
            }
        },
        created: function () {
            this.$http.get("services/categories")
            .then(res => {
                this.categories = res.data
            })

            this.$http.get("settings/durations")
            .then(res => {
                this.durations = res.data
            })

            this.$http.get("taxes")
            .then(res => {
                this.taxes = res.data
            })

            this.$http.get("staff")
            .then(res => {
                this.staff_members = res.data

                this.staff_members.map((row) => {
                    this.staff_ids.value.push(row.user_id)
                })
            })

            if (this.$route.params.id) {
                this.$http.get("services/" + this.$route.params.id)
                .then(res => {
                    this.name.value = res.data.title
                    this.category.value = res.data.category_id
                    this.available_for.value = res.data.available_for ? res.data.available_for : ""
                    this.description.value = res.data.description
                    this.duration.value = res.data.duration
                    this.price_type.value = res.data.price_type
                    this.price.value = res.data.price
                    this.special_price.value = res.data.special_price
                    this.online_bookings.value = res.data.has_online_booking
                    this.tax.value = res.data.tax_id ? res.data.tax_id : ""

                    this.staff_ids.value = []
                    
                    res.data.providers.map(row => {
                        this.staff_ids.value.push(row.user_id)
                    })
                })
            }
        },
        computed: {
            is_complete: function () {
                return this.name.value &&
                this.category.value &&
                this.duration.value &&
                this.price_type.value &&
                this.price.value &&
                this.staff_ids.value.length
            }
        },
        methods: {
            submitForm: function () {
                const data = {
                    name: this.name.value,
                    category: this.category.value,
                    available_for: this.available_for.value,
                    description: this.description.value,
                    duration: this.duration.value,
                    price_type: this.price_type.value,
                    price: this.price.value,
                    special_price: this.special_price.value,
                    online_bookings: this.online_bookings.value,
                    staff_ids: this.staff_ids.value,
                    tax: this.tax.value
                }

                this.$http.post("services", data)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .container-body {
        .centralized {
            .add_single_service {
                .card-header {
                    p {
                        margin-bottom: 0;
                        color: #7b7b7c;
                    }
                }
                .wapper_form {
                    .fill {
                        .input-group-text {
                            background-color: #d5d7da;
                            color: #7b7b7c;
                        }
                        input::-webkit-input-placeholder {
                            /* Edge */
                            color: #7b7b7c;
                        }
                        input:-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: #7b7b7c;
                        }
                        input::placeholder {
                            color: #7b7b7c;
                        }
                        input {
                            background-color: #d5d7da;
                            color: #7b7b7c;
                            border-left: 1px solid #7b7b7c47;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .container-body{
            .centralized{
                width: 80%;
            }
        }
    }

    @media (max-width: 768px) {
        .inner_staff {
            .table thead th {
                border-bottom: 1px solid #dee2e6;
            }
        }
    }




@media (max-width: 650px) {
    .container-body{
        .centralized{
            width: 80%;
        }
    }
}

</style>