<template>
    <modal :show=true heading="Delete Confirmation">
        <p class="m-0">Are you sure you want to delete <b>{{ $route.params.title }}</b>?</p>
        <template v-slot:footer>
            <form-button v-on:click.native="$emit('close')" variant="default" class="mr-auto">Back</form-button>
            <form-button v-on:click.native="deleteItem()" variant="danger" :is_submitted=is_submitted>DELETE</form-button>
        </template>
    </modal>
</template>
<script>
    export default {
        data: function () {
            return {
                is_submitted: false
            }
        },
        created: function () {
            this.$on("close", function () {
                this.$router.go(-1)
            })
        },
    }
</script>