<template>
    <modal :heading=heading>
        <div class="form-group">
            <label>Category name *</label>
            <input v-model="category_name.value" type="text" :class="'form-control' + (category_name.error ? ' is-invalid' : '')" required autofocus />
            <span v-html="category_name.error" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <label>Appointment Color</label>
            <ul class="colors_list">
                <li v-for="color in colors_list" v-bind:key="color">
                    <a v-on:click="color_hash = color" href="javascript:;" v-bind:class="{ active: color_hash == color }" :style="'background-color: ' + color"></a>
                </li>
            </ul>
        </div>
        <div class="form-group m-0">
            <label>Category description</label>
            <textarea v-model="category_description.value" rows="6" :class="'form-control' + (category_description.error ? ' is-invalid' : '')" />
            <span v-html="category_description.error" class="invalid-feedback"></span>
        </div>
        <template v-slot:footer>
            <router-link v-if="$route.params.id" :to="{ name: 'services.category.delete', params: { id: $route.params.id, title: category_name.value } }" class="mr-auto btn btn-danger">DELETE</router-link>
            <form-button type="submit" v-on:click.native="submitForm()" :is_submitted=is_submitted :disabled="!is_complete || is_submitted" />
        </template>
    </modal>
</template>
<script>
    export default {
        data: function () {
            return {
                category_name: {
                    value: "",
                    error: null
                },
                category_description: {
                    value: "",
                    error: null
                },
                is_submitted: false,
                colors_list: [
                    "#FFC4D6",
                    "#E7B9EA",
                    "#D8DDF5",
                    "#BAECF3",
                    "#A7EBE5",
                    "#C1EDD1",
                    "#E7F286",
                    "#FFE6C3"
                ],
                color_hash: ""
            }
        },
        created: function () {
            this.color_hash = this.colors_list[Math.floor(Math.random() * this.colors_list.length)]

            this.$on("close", function () {
                this.$router.push({name: "services"})
            })

            if (this.$route.params.id) {
                this.$http.get("services/category/" + this.$route.params.id)
                .then(res => {
                    this.category_name.value = res.data.title
                    this.color_hash = res.data.color
                    this.category_description.value = res.data.description
                })
            }
        },
        computed: {
            heading: function () {
                return this.$route.params.id ? "Edit Category" : "New Category"
            },
            is_complete: function () {
                return this.category_name.value && this.color_hash
            }
        },
        methods: {
            submitForm: function () {
                this.is_submitted = true
                const data = {
                    category_name: this.category_name.value,
                    color: this.color_hash,
                    category_description: this.category_description.value
                }

                let axios = null

                if (this.$route.params.id) {
                    axios = this.$http.put("services/category/" + this.$route.params.id, data)
                } else {
                    axios = this.$http.post("services/category", data)
                }

                axios.then(res => {
                    if (res.data.success) {
                        this.$parent.$toast.open(res.data.message)
                        this.$router.push({name: "services", params: {reload: true}})
                    }
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
    .colors_list {
        margin: .5rem 0 0;
        li {
            display: inline-block;
            margin-right: 1.1rem;
            a {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: block;
                &:hover,
                &.active {
                    border: 1px solid #000000;
                }
                &.active {
                    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>');
                    background-repeat: no-repeat;
                    background-position: 50%;
                }
            }
        }
    }
</style>