<template>
    <modal :show=true heading="Delete Confirmation">
        <p class="m-0">Are you sure you want to delete <b>{{ $route.params.title }}</b> ?</p>
        <template v-slot:footer>
            <form-button v-on:click.native="$emit('close')" variant="default" class="mr-auto">Back</form-button>
            <form-button v-on:click.native="deleteItem()" variant="danger" :is_submitted=is_submitted>DELETE</form-button>
        </template>
    </modal>
</template>
<script>
    export default {
        data: function () {
            return {
                is_submitted: false
            }
        },
        created: function () {
            this.$on("close", function () {
                this.$router.go(-1)
            })
        },
        methods: {
            deleteItem: function () {
                this.is_submitted = true
                this.$http.delete("discount-types/" + this.$route.params.id)
                .then(res => {
                    if (res.data.success) {
                        this.$parent.$toast.open(res.data.message)
                    } else {
                        this.$parent.$toast.open({message: res.data.message, type: "error"})
                    }

                    this.$router.push({name: "setup.discount-types", params: {reload: true}})
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>