<template>
    <modal :heading=heading>
        <form-input :model=name label="Discount name" />
        <div class="row">
            <div class="col-md-7">
                <form-input :model=value label="Discount value">
                    <template v-slot:input_group_prepend>
                        <span v-if="type == 'percentage'">%</span>
                        <span v-if="type == 'amount'">PKR</span>
                    </template>
                </form-input>
            </div>
            <div class="col-md-5 text-right">
                <div class="btn-group">
                    <button :class="{btn: true, 'btn-primary': (type === 'amount')}" v-on:click="type = 'amount'">PKR</button>
                    <button :class="{btn: true, 'btn-primary': (type === 'percentage')}" v-on:click="type = 'percentage'">%</button>
                </div>
            </div>
        </div>
        <div class="form-checked mt-4">
            <checkbox label="Enable for service sales" :model=enable_for_service value="1" />
        </div>
        <div class="form-checked mt-4 mb-4">
            <checkbox label="Enable for product sales" :model=enable_for_product value="1" />
        </div>
        <div class="form-checked">
            <checkbox label="Enable for voucher sales" :model=enable_for_voucher value="1" />
        </div>
        <template v-slot:footer>
            <router-link v-if="$route.params.id" :to="{ name: 'setup.discount-types.delete', params: { id: $route.params.id, title: name.value } }" class="mr-auto btn btn-danger">DELETE</router-link>
            <form-button type="submit" v-on:click.native="submitForm()" :is_submitted=is_submitted :disabled="!is_complete || is_submitted" />
        </template>
    </modal>
</template>
<script>
    import checkbox from "../../../components/helpers/form-checkbox"

    export default {
        components: {
            checkbox
        },
        props: {
            show: {
                default: true
            }
        },
        data: function () {
            return {
                name: {
                    value: "",
                    error: null,
                    required: true,
                    placeholder: "e.g. Senior Citizens"
                },
                value: {
                    value: "",
                    error: null,
                    required: true,
                    type: "number"
                },
                enable_for_service: {
                    value: "1",
                    error: null
                },
                enable_for_product: {
                    value: "1",
                    error: null
                },
                enable_for_voucher: {
                    value: "1",
                    error: null
                },
                type: "percentage",
                is_submitted: false
            }
        },
        computed: {
            heading: function () {
                return this.$route.params.id ? "Edit Discount Type" : "New Discount Type"
            },
            is_complete: function () {
                return !this.isEmpty(this.name.value) &&
                !this.isEmpty(this.value.value)
            }
        },
        created: function () {
            this.$on("close", function () {
                this.$router.push({name: "setup.discount-types"})
            })

            if (this.$route.params.id) {
                this.$http.get("discount-types/" + this.$route.params.id)
                .then(res => {
                    this.name.value = res.data.title
                    this.type = res.data.type
                    this.value.value = res.data.value
                    this.enable_for_service.value = res.data.enable_for_service
                    this.enable_for_product.value = res.data.enable_for_product
                    this.enable_for_voucher.value = res.data.enable_for_voucher
                })
            }
        },
        methods: {
            submitForm: function () {
                this.is_submitted = true

                const data = {
                    name: this.name.value,
                    type: this.type,
                    value: this.value.value,
                    enable_for_service: this.enable_for_service.value,
                    enable_for_product: this.enable_for_product.value,
                    enable_for_voucher: this.enable_for_voucher.value
                }

                let axios = null

                if (this.$route.params.id) {
                    axios = this.$http.put("discount-types/" + this.$route.params.id, data)
                } else {
                    axios = this.$http.post("discount-types", data)
                }

                axios.then(res => {
                    if (res.data.success) {
                        this.$parent.$toast.open(res.data.message)
                        this.$router.push({name: "setup.discount-types", params: {reload: true}})
                    } else {
                        this.$parent.$toast.open({message: res.data.message, type: "error"})
                    }
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
    .overlay {
        background: rgb(0 0 0 / 50%);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: 9;
    }
    
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.2s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }

    .slide-up-enter-active,
    .slide-up-leave-active {
        transition: all .3s ease;
        opacity: 1;
    }

    .slide-up-enter, .slide-up-leave-to {
        transform: translateY(100px);
        opacity: 0;
    }
    
    
    .btn-group {
        margin-top: 1.6rem;
        .btn {
            padding: 0.7rem 1rem;
            border: 1px solid #DDDDDD;
            width: 80px;
        }
    }
</style>