<template>
    <div class="centralized">
        <div class="heading-with-back row">
            <div class="col-lg-9 col-xl-9">
                <div class="title">
                    <h1>
                        <router-link :to="{ name: 'setup.index' }" class="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </router-link>
                        Discount Types
                    </h1>
                    <p>Set up manual discount types for use during checkout.</p>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 text-right">
                <router-link :to="{ name: 'setup.discount-types.add' }" class="btn btn-primary">New Discount</router-link>
            </div>
        </div>
        <div v-if="has_list_loaded" class="card">
            <div v-if="!list.length" class="card-body no-data">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                    <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                    <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                </svg>
                <h3>No discount</h3>
                <p>You do not have any discounts yet, create new discount to apply it on checkout</p>
                <router-link :to="{ name: 'setup.discount-types.add' }" class="btn btn-primary">Add Discount</router-link>
            </div>
            <div v-else class="card-body p-0">
                <router-link v-for="row in list" v-bind:key="row.id" :to="{ name: 'setup.discount-types.edit', params: { id: row.id } }" class="list-row">
                    <span class="title" v-html="row.title"></span>
                    <span class="rate">Value: 20 AUD off</span>
                </router-link>
            </div>
        </div>
        <div v-else class="data-loader">
            <div class="spinner-border text-primary"></div>
        </div>
        <modal-wrapper :show=show_modal>
            <router-view />
        </modal-wrapper>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                has_list_loaded: false,
                list: [],
                show_modal: false
            }
        },
        watch: {
            $route: {
                handler: function(newVal) {
                    this.show_modal = newVal.meta && newVal.meta.modal

                    if (newVal.params.reload) {
                        this.getDiscountTypes()
                    }
                },
                immediate: true
            }
        },
        created: function () {
            this.getDiscountTypes()
        },
        methods: {
            getDiscountTypes: function () {
                this.$http.get("discount-types")
                .then(res => {
                    this.list = res.data
                })
                .finally(() => {
                    this.has_list_loaded = true
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
    .list-row {
        display: block;
        width: 100%;
        padding: 2rem 2.4rem;
        border-top: 1px solid #DDDDDD;
        &:first-child {
            border: 0;
        }
        &:hover {
            background: #F7F7F8;
        }
        .title {
            color: #000000;
            font-size: 1.1rem;
            display: block;
        }
        .rate {
            display: block;
            font-size: 0.9rem;
            color: #67768c;
            margin-top: 0.3rem;
        }
    }
</style>