<template>
    <div>
        <modal :heading=heading>
            <p class="mb-4">
                Combine multiple taxes into a group, each tax still shows individually on invoices and reports. To apply this group to your products and services, adjust your tax default settings.
            </p>
            <form-input :model=tax_name label="Tax name" />
            <form-dropdown :model=tax_1 label="Tax 1" :items=tax_1_list _key="id" _value="title" />
            <form-dropdown :model=tax_2 label="Tax 2" :items=tax_2_list _key="id" _value="title" />
            <form-dropdown :model=tax_3 label="Tax 3" :items=tax_3_list _key="id" _value="title" />
            <template v-slot:footer>
                <router-link v-if="$route.params.id" :to="{ name: 'setup.taxes.delete', params: { id: $route.params.id } }" class="mr-auto btn btn-danger">DELETE</router-link>
                <form-button type="submit" v-on:click.native="submitForm()" :is_submitted=is_submitted :disabled="!is_complete || is_submitted" />
            </template>
        </modal>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                tax_name: {
                    value: "",
                    error: null,
                    required: true,
                    autofocus: true
                },
                tax_1: {
                    value: "",
                    error: null,
                    required: true
                },
                tax_2: {
                    value: "",
                    error: null,
                    required: true
                },
                tax_3: {
                    value: "",
                    error: null
                },
                is_submitted: false,
                tax_1_list: [],
                tax_2_list: [],
                tax_3_list: []
            }
        },
        watch: {
            "tax_name.value": function (str) {
                this.tax_name.error = null

                if (this.isEmpty(str)) {
                    this.tax_name.error = "This field is required"
                }
            },
            "tax_1.value": {
                handler: function (id) {
                    this.tax_1.error = null

                    if (this.isEmpty(id)) {
                        this.tax_1.error = "This field is required"
                    }

                    this.tax_2_list = this.tax_3_list = this.tax_1_list
                    this.tax_2_list = this.tax_3_list = this.tax_2_list.filter(row => {
                        return row.id != id
                    })
                }
            },
            "tax_2.value": {
                handler: function (id) {
                    this.tax_2.error = null

                    if (this.isEmpty(id)) {
                        this.tax_2.error = "This field is required"
                    }

                    this.tax_3_list = this.tax_3_list.filter(row => {
                        return row.id != id
                    })
                }
            }
        },
        computed: {
            heading: function () {
                return this.$route.params.id ? "Edit Tax Group" : "New Tax Group"
            },
            is_complete: function () {
                return !this.isEmpty(this.tax_name.value) &&
                !this.isEmpty(this.tax_1.value) &&
                !this.isEmpty(this.tax_2.value)
            }
        },
        created: function () {
            this.$on("close", function () {
                this.$router.push({name: "setup.taxes"})
            })

            const taxes = this.$parent.$parent.$data.taxes
            this.tax_1_list = taxes
            this.tax_2_list = taxes
            this.tax_3_list = taxes

            if (this.$route.params.id) {
                const tax = taxes.filter((row) => {
                    if (row.id == this.$route.params.id) {
                        return row
                    }
                })

                this.tax_name.value = tax[0].title
                this.tax_1.value = tax[0].tax_1
                this.tax_2.value = tax[0].tax_2
                this.tax_3.value = tax[0].tax_3 ? tax[0].tax_3 : ""
            }
        },
        methods: {
            submitForm: function () {
                let axios = null
                const data = {
                    tax_name: this.tax_name.value,
                    tax_1: this.tax_1.value,
                    tax_2: this.tax_2.value,
                    tax_3: this.tax_3.value
                }

                this.is_submitted = true

                if (this.$route.params.id) {
                    axios = this.$http.put("taxes/group/" + this.$route.params.id, data)
                } else {
                    axios = this.$http.post("taxes/group", data)
                }

                axios
                .then(res => {
                    if (res.data.success) {
                        this.$parent.$toast.open(res.data.message)
                        this.$router.push({name: "setup.taxes", params: {reload: true}})
                    } else {
                        this.$parent.$toast.open({message: res.data.message, type: "error"})
                    }
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>