<template>
    <div class="centralized">
        <div class="heading-with-back row">
            <div class="col-lg-9 col-xl-9">
                <div class="title">
                    <h1>
                        <router-link :to="{ name: 'setup.index' }" class="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </router-link>
                        Taxes
                    </h1>
                    <p>Add your tax rates and use groups for multiple taxes, for example combining city and state taxes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 text-right">
                <form-button class="dropdown-toggle" v-on:click.native="show_menu = !show_menu;" v-on:blur.native="show_menu = false">Add New</form-button>
                <transition name="slide-down-fade" mode="out-in">
                    <div v-if="show_menu" class="dropdown-menu show">
                        <router-link :to="{ name: 'setup.taxes.add' }" class="dropdown-item">New Tax</router-link>
                        <router-link :to="{ name: 'setup.groups.add' }" class="dropdown-item">New Tax Group</router-link>
                    </div>
                </transition>
            </div>
        </div>
        <div v-if="has_list_loaded" class="card">
            <div v-if="!list.length" class="card-body no-data">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                    <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                    <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                </svg>
                <h3>No taxes</h3>
                <p>You do not have any taxes yet, create new tax or tax group to apply it on checkout</p>
                <router-link :to="{ name: 'setup.taxes.add' }" class="btn btn-primary">Add Tax</router-link>
            </div>
            <div v-else class="card-body p-0">
                <router-link v-for="row in list" v-bind:key="row.id" :to="{ name: row.rate ? 'setup.taxes.edit': 'setup.groups.edit', params: { id: row.id } }" class="list-row">
                    <span class="title">{{ row.title }}</span>
                    <span class="rate" v-if="isFloat(row.rate) || isInteger(row.rate)">{{ row.rate }}%</span>
                    <span class="rate" v-if="row.tax_1" v-html="getTaxRateById(row.tax_1)"></span>
                    <span class="rate" v-if="row.tax_2" v-html="getTaxRateById(row.tax_2)"></span>
                    <span class="rate" v-if="row.tax_3" v-html="getTaxRateById(row.tax_3)"></span>
                </router-link>
            </div>
        </div>
        <div v-else class="data-loader">
            <div class="spinner-border text-primary"></div>
        </div>
        <modal-wrapper :show=show_modal>
            <router-view />
        </modal-wrapper>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                has_list_loaded: false,
                list: [],
                show_menu: false,
                show_modal: false
            }
        },
        watch: {
            $route: {
                handler: function(newVal) {
                    this.show_modal = newVal.meta && newVal.meta.modal

                    if (newVal.params.reload) {
                        this.getTaxes()
                    }
                }
            }
        },
        created: function () {
            this.$root.$emit("heading", "Setup")
            this.getTaxes()
        },
        methods: {
            getTaxes: function () {
                this.$http.get("taxes")
                .then(res => {
                    this.list = res.data
                    this.show_modal = this.$route.meta && this.$route.meta.modal
                })
                .finally(() => {
                    this.has_list_loaded = true
                })
            },
            isFloat: function (n) {
                return n === +n && n !== (n|0)
            },
            isInteger: function (n) {
                return n === +n && n === (n|0)
            },
            getTaxRateById: function (id) {
                const tax = this.list.filter((row) => row.id == id)

                return tax[0].title + " - (" + tax[0].rate + "%)"
            }
        }
    }
</script>
<style lang="scss" scoped>
    .dropdown-toggle::after{
        display: none;
    }
    .list-row {
        display: block;
        width: 100%;
        padding: 2rem 2.4rem;
        border-top: 1px solid #DDDDDD;
        &:first-child {
            border: 0;
        }
        &:hover {
            background: #F7F7F8;
        }
        .title {
            color: #000000;
            font-size: 1.1rem;
            display: block;
        }
        .rate {
            display: block;
            font-size: 0.9rem;
            color: #67768c;
            margin-top: 0.3rem;
        }
    }
    .dropdown-menu {
        right: 1rem;
        left: auto;
        padding: 0;
        
        a {
            padding: 9px 11px;
            background-color: transparent;
            border-bottom: 1px solid #dee3e7;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            &:last-child {
                border-bottom: 0;
            }
            &:hover {
                color: #000;
                opacity: 0.8;
            }
        }
    }
    @media only screen and (max-width: 1023px) {
        .tax-row {
            padding: 2rem 1rem;
        }
    }
</style>