<template>
    <modal :heading=heading>
        <p class="mb-4">Set the tax name and percentage rate. To apply this to your products and services, adjust your tax defaults settings.</p>
        <form-input :model=tax_name label="Tax name" />
        <form-input :model=tax_rate label="Tax rate">
            <template v-slot:input_group_prepend>
                %
            </template>
        </form-input>
        <template v-slot:footer>
            <router-link v-if="$route.params.id" :to="{ name: 'setup.taxes.delete', params: { id: $route.params.id, title: tax_name.value } }" class="mr-auto btn btn-danger">DELETE</router-link>
            <form-button type="submit" v-on:click.native="submitForm()" :is_submitted=is_submitted :disabled="!is_complete || is_submitted" />
        </template>
    </modal>
</template>
<script>
    export default {
        data: function () {
            return {
                tax_name: {
                    value: "",
                    error: null,
                    required: true
                },
                tax_rate: {
                    value: "",
                    error: null,
                    type: "number",
                    required: true
                },
                is_submitted: false
            }
        },
        watch: {
            "tax_name.value": function (str) {
                this.tax_name.error = null

                if (this.isEmpty(str)) {
                    this.tax_name.error = "This field is required"
                }
            },
            "tax_rate.value": function (str) {
                this.tax_rate.error = null

                if (this.isEmpty(str)) {
                    this.tax_rate.error = "This field is required"
                }
            }
        },
        computed: {
            heading: function () {
                return this.$route.params.id ? "Edit Tax" : "New Tax"
            },
            is_complete: function () {
                return !this.isEmpty(this.tax_name.value) &&
                !this.isEmpty(this.tax_rate.value)
            }
        },
        created: function () {
            this.$on("close", function () {
                this.$router.push({name: "setup.taxes"})
            })

            if (this.$route.params.id) {
                const taxes = this.$parent.$parent.$data.taxes
                const tax = taxes.filter((row) => {
                    if (row.id == this.$route.params.id) {
                        return row
                    }
                })

                this.tax_name.value = tax[0].title
                this.tax_rate.value = tax[0].rate
            }
        },
        methods: {
            submitForm: function () {
                let axios = null
                const data = {
                    tax_name: this.tax_name.value,
                    rate: this.tax_rate.value
                }

                this.is_submitted = true

                if (this.$route.params.id) {
                    axios = this.$http.put("taxes/tax/" + this.$route.params.id, data)
                } else {
                    axios = this.$http.post("taxes/tax", data)
                }

                axios.then(res => {
                    if (res.data.success) {
                        this.$parent.$toast.open(res.data.message)
                        this.$router.push({name: "setup.taxes", params: {reload: true}})
                    } else {
                        this.$parent.$toast.open({message: res.data.message, type: "error"})
                    }
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>