<template>
    <div>
        <div v-if="$route.name == 'setup.index'" class="row centralized">
            <div class="col-xl-6 col-lg-6 box">
                <div class="card">
                    <div class="card-body">
                        <h2>Account Setup</h2>
                        <router-link :to="{ name: 'setup.account-settings' }" class="card-row">
                            <span class="title">Account Settings</span>
                            <span class="description">Manage settings such as your business name and time zone</span>
                        </router-link>
                        <router-link :to="{ name: 'setup.locations' }" class="card-row">
                            <span class="title">Locations</span>
                            <span class="description">Manage multiple outlets for your business</span>
                        </router-link>
                        <a href="#" class="card-row">
                            <span class="title">Resources</span>
                            <span class="description">Setup bookable resources such as rooms, chairs or equipment</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 box">
                <div class="card">
                    <div class="card-body">
                        <h2>Point of Sale</h2>
                        <a href="#" class="card-row">
                            <span class="title">Invoice Template</span>
                            <span class="description">Configure details displayed on invoices issued to your clients</span>
                        </a>
                        <a href="#" class="card-row">
                            <span class="title">Invoice Sequencing</span>
                            <span class="description">Set custom prefixes and number sequence for invoices</span>
                        </a>
                        <router-link :to="{ name: 'setup.taxes' }" class="card-row">
                            <span class="title">Taxes</span>
                            <span class="description">Manage tax rates that apply to items sold at checkout</span>
                        </router-link>
                        <a href="#" class="card-row">
                            <span class="title">Payment Types</span>
                            <span class="description">Setup manual payments types for during checkout</span>
                        </a>
                        <router-link :to="{ name: 'setup.discount-types' }" class="card-row">
                            <span class="title">Discount Types</span>
                            <span class="description">Setup manual discount types for use during checkout</span>
                        </router-link>
                        <a href="#" class="card-row">
                            <span class="title">Sales Settings</span>
                            <span class="description">Manage the default voucher expiry period and staff commissions</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <router-view />
        </div>
    </div>
</template>
<script>
    export default {
        created: function () {
            this.$parent.$emit("heading", "Setup")
        },
    }
</script>
<style lang="scss" scoped>
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    .card {
        .card-row {
            display: block;
            margin: 1rem 0;
            padding-bottom: 1rem;
            border-bottom: 1px solid #DEE3E7;

            span {
                display: block;
            }

            .description {
                color: #878c93;
                font-size: 0.9rem;
                font-weight: 300;
            }
            &:first-child,
            &:last-child {
                margin-top: 0.5rem;
            }
            &:last-child {
                border: 0;
                padding: 0;
                margin-bottom: 0.5rem;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .box {
            margin-bottom: 5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
</style>