<template>
    <div class="form-group">
        <label class="w-100" v-if="label">
            {{ label }}
            <span v-if="model.required">*</span>
        </label>
        <select v-model=model.value :class="'form-control' + (model.error ? ' is-invalid' : '')" :required=model.required :aria-required=model.required>
            <option value="">{{ placeholder }}</option>
            <option v-for="item in items" v-bind:key="item[_key]" v-bind:value="item[_key]">
                {{ item[_value] }}
            </option>
        </select>
        <span v-html="model.error" class="invalid-feedback"></span>
    </div>
</template>
<script>
    export default {
        props: {
            model: {
                required: true
            },
            label: {
                type: String
            },
            placeholder: {
                type: String,
                default: "Please Select"
            },
            items: {
                type: Array,
                required: true
            },
            _key: {
                type: String,
                default: "key"
            },
            _value: {
                type: String,
                default: "value"
            }
        }
    }
</script>