<template>
    <div :class="'form-group' + ($slots.input_group_prepend ? ' input-group' : '')">
        <label class="w-100" v-if="label">
            <slot name="label" />
            {{ label }}
            <span v-if="model.rules && model.rules.required">*</span>
            <span v-if="model.maxlength" class="light_gray float-right">
                {{ input_length }}/{{ model.maxlength }}
            </span>
        </label>
        <div v-if="$slots.default">
            <slot />
        </div>
        <div v-if="$slots.input_group_prepend" class="input-group-prepend">
            <span class="input-group-text">
                <slot name="input_group_prepend" />
            </span>
        </div>
        <input
            v-if="!$slots.default && type !== 'textarea'"
            v-model=model.value
            :type=model.type
            :class="'form-control' + (model.error ? ' is-invalid' : '')"
            :required="model.rules && model.rules.required"
            :aria-required="model.rules && model.rules.required"
            :readonly=model.readonly
            :aria-readonly=model.readonly
            :autofocus=model.autofocus
            :autocomplete=model.autocomplete
            :aria-autocomplete=model.autocomplete
            :maxlength="model.maxlength"
            :placeholder="model.placeholder"
            :aria-placeholder="model.placeholder"
            v-on:blur="validate()"
        />
        <textarea
            v-if="!$slots.default && type === 'textarea'"
            v-model=model.value
            :class="'form-control' + (model.error ? ' is-invalid' : '')"
            :rows="model.rows ? model.rows : 6"
            :required="model.rules && model.rules.required"
            :aria-required="model.rules && model.rules.required"
            :readonly=model.readonly
            :aria-readonly=model.readonly
            :autofocus=model.autofocus
            :autocomplete=model.autocomplete
            :aria-autocomplete=model.autocomplete
            :maxlength="model.maxlength"
            :placeholder="model.placeholder"
            :aria-placeholder="model.placeholder"
            v-on:blur="validate()"
        />
        <span v-html="model.error" class="invalid-feedback"></span>
    </div>
</template>
<script>
    export default {
        props: {
            model: {
                required: true
            },
            label: {
                type: String
            },
            type: {
                default: "text"
            }
        },
        computed: {
            input_length: function () {
                return this.model.value.length
            }
        },
        methods: {
            validate: function () {
                const rules = this.model.rules ? this.model.rules : {}
                this.model.error = null

                for (let rule in rules) {
                    if (rule === "required" && this.isEmpty(this.model.value)) {
                        this.model.error = this.REQUIRED_MESSAGE
                    } else if (rule === "email" && !this.isValidEmail(this.model.value)) {
                        this.model.error = this.INVALID_EMAIL_MESSAGE
                    } else if (rule === "url" && !this.isValidUrl(this.model.value)) {
                        this.model.error = this.INVALID_URL_MESSAGE
                    }
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    textarea {
        resize: none;
    }
</style>