<template>
    <button :type=type :class="'btn btn-' + variant">
        <span v-if="is_submitted" class="spinner-border"></span>
        <template v-if="!is_submitted">
            <slot v-if="$slots.default" />
            <span v-else>Save</span>
        </template>
    </button>
</template>
<script>
    export default {
        name: "form-button",
        props: {
            type: {
                type: String,
                default: "button"
            },
            is_submitted: {
                type: Boolean,
                default: false
            },
            variant: {
                type: String,
                default: "primary"
            }
        }
    }
</script>