<template>
    <div class="form-group input-group">
        <label class="w-100" v-if="label">
            <slot name="label" />
            {{ label }}
            <span v-if="model.rules.required">*</span>
        </label>
        <input
            v-model="model.value"
            :type=type
            :class="'form-control' + (model.error ? ' is-invalid' : '')"
            :required=model.required
            :aria-required=model.required
            :autofocus=model.autofocus
            :autocomplete=model.autocomplete
            :aria-autocomplete=model.autocomplete
            v-on:blur="validate()"
        />
        <div class="input-group-append">
            <a v-on:click="show_password = !show_password;" href="javascript:;" class="input-group-text">
                <svg v-if="!show_password" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                    <path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.027 7.027 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.088z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6l-12-12 .708-.708 12 12-.708.707z"/>
                </svg>
                <svg v-if="show_password" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
            </a>
        </div>
        <span v-html="model.error" class="invalid-feedback"></span>
    </div>
</template>
<script>
    export default {
        props: {
            model: {
                required: true
            },
            label: {
                type: String
            }
        },
        data: function () {
            return {
                show_password: false
            }
        },
        computed: {
            type: function () {
                return this.show_password ? "text" : "password"
            }
        },
        methods: {
            validate: function () {
                const rules = this.model.rules ? this.model.rules : {}
                this.model.error = null

                for (let rule in rules) {
                    if (rule === "required" && this.isEmpty(this.model.value)) {
                        this.model.error = this.REQUIRED_MESSAGE
                    } else if (rule === "email" && !this.isValidEmail(this.model.value)) {
                        this.model.error = this.INVALID_EMAIL_MESSAGE
                    } else if (rule === "url" && !this.isValidUrl(this.model.value)) {
                        this.model.error = this.INVALID_URL_MESSAGE
                    }
                }
            }
        }
    }
</script>