<template>
    <div>
        <transition name="fade">
            <div v-if="show" class="overlay"></div>
        </transition>
        <transition name="slide-up">
            <div v-if="show" class="modal d-flex" tabindex="-1">
                <slot />
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        name: "modal-wrapper",
        props: {
            show: {
                type: Boolean,
                default: false
            }
        }
    }
</script>
<style lang="scss" scoped>
    .overlay {
        background: rgb(0 0 0 / 50%);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: 9;
    }
          .modal-title{
              font-weight: 700;
              font-size: 25px;
          }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.2s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }

    .slide-up-enter-active,
    .slide-up-leave-active {
        transition: all .3s ease;
        opacity: 1;
    }
    .slide-up-enter, .slide-up-leave-to {
        transform: translateY(100px);
        opacity: 0;
    }
</style>