<template>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ heading }}</h5>
                <button v-on:click="$emit('close'); $parent.$emit('close'); $parent.$parent.$emit('close');" type="button" class="close">
                    <span><svg data-v-97ad707a="" xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x"><path data-v-97ad707a="" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg></span>
                </button>
            </div>
            <div class="modal-body">
                <slot />
            </div>
            <div v-if="$slots.footer" class="modal-footer">
                <slot name="footer" />
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "modal",
        props: {
            heading: {
                required: true,
                type: String,
                default: ""
            }
        }
    }
</script>

<style lang="scss" scoped>
    .modal-dialog {
        width: 100%;
        .modal-footer {
            padding: 0px 28px 25px;
            border: 0;
        }
        .modal-body {
            padding: 14px 30px;
            border: 0;
    }
    .modal-title{
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
    .close{
        font-size: 25px;
        color: #000;
        opacity: 1;
        outline: none;
        position: absolute;
        right: 15px;
    }

 }
@media only screen and (max-width: 767px) {

.modal-dialog{
   .modal-content{
        height: 350px;
        overflow-y: auto;
        overflow-x: hidden;

   } 
}

    @media only screen and (max-width: 576px) {
        .modal-dialog {
            max-width: 360px;
            .close {
                top: 14px;
            }
            .modal-content {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                .modal-title {
                    font-size: 22px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}
</style>