<template>
    <div class="form-group">
        <label class="w-100" v-if="model.label">
            <slot name="label" />
            {{ model.label }}
            <span v-if="model.required">*</span>
        </label>
        <input type="text" :class="'form-control' + (model.error ? ' is-invalid' : '')" v-on:click="search = ''; show = true" :value="selected_text" readonly />
        <span v-html="model.error" class="invalid-feedback"></span>
        <modal-wrapper :show=show>
            <modal :heading=heading>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </span>
                    </div>
                    <input v-model="search" type="text" class="form-control" :placeholder=placeholder />
                </div>
                <div v-if="list.length" class="scrollable">
                    <a v-on:click="model.value = row[_key]; show = false;" href="javascript:;" class="options" v-for="row in list" v-bind:key="row[_key]">
                        {{ row[_value] }}
                    </a>
                </div>
                <div class="nothing-found" v-else>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    <p>No data found</p>
                </div>
            </modal>
        </modal-wrapper>
    </div>
</template>
<script>
    export default {
        props: {
            heading: {
                type: String
            },
            placeholder: {
                type: String
            },
            items: {
                type: Array
            },
            model: {
                required: true
            },
            _key: {
                default: "key"
            },
            _value: {
                default: "value"
            }
        },
        data: function () {
            return {
                show: false,
                search: "",
                selected_text: "Please Select"
            }
        },
        created: function () {
            this.$on("close", () => {
                this.show = false
            })
        },
        watch: {
            'model.value': {
                handler: function (value) {
                    if (value) {
                        const row = this.items.filter((row) => {
                            if (row[this._key] == value) {
                                return row;
                            }
                        })

                        this.selected_text = row[0][this._value]
                    }
                },
                immediate: true,
                deep: true
            }
        },
        computed: {
            list: function () {
                if (this.search) {
                    return this.items.filter((row) => {
                        if (row[this._value].toLowerCase().includes(this.search.toLowerCase())) {
                            return row
                        }
                    })
                }

                return this.items
            }
        }
    }
</script>
<style lang="scss" scoped>
    .input-group {
        margin-bottom: 2rem;
    }
    .scrollable {
        height: calc(100vh - 500px);
        overflow-y: scroll;
        .options {
            display: block;
            padding: 1.2rem .5rem;
            color: #000000;
            border-bottom: 1px solid #DDDDDD;
            transition: padding-left .2s ease;
            &:hover {
                background: #EFEFEF;
                padding-left: 1rem;
            }
        }
    }
    .nothing-found {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10rem 0;
        flex-direction: column;
        p {
            margin: 1rem 0 0;
            font-size: 1.5rem;
        }
    }
</style>