<template>
    <div>
        <label class="switch">
            <input type="checkbox" v-model=model.value :value=value />
            <span class="slider"></span>
        </label>
        <p class="text" v-if="label">{{ label }}</p>
    </div>
</template>
<script>
    export default {
        props: {
            model: {
                required: true
            },
            label: {
                type: String
            },
            value: {}
        }
    }
</script>
<style lang="scss" scoped>
    .text {
        display: inline-block;
        padding-left: 10px;
        margin: 0;
        vertical-align: sub;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked + .slider {
                background-color: #2196F3;
            }
            &:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }
            &:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
        .slider {
            border-radius: 34px;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }
        }
    }
</style>