@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$link-hover-decoration: none;
$font-family-sans-serif: 'Poppins';
$btn-disabled-opacity: 0.1;
$primary: #303f9f;
$link-color: #037aff;
$card-spacer-x: 2rem;
$card-spacer-y: 1.5rem;
$card-border-color: none;
$card-border-radius: 10px;
$input-btn-padding-x: .7rem;
$input-btn-padding-y: .7rem;
$spinner-width: 1.5rem;
$spinner-height: 1.5rem;
$btn-disabled-opacity: .5;
$input-focus-box-shadow: none;
$input-font-size: .85rem;