body {
    height: 100vh;
}

#app {
    height: 100%;
}

.login-bg {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    padding: 28px 0;
}

.logo-desktop {
    display: none;
}

.login-wrapper {
    background: #FFFFFF;
    width: 100vw;
    height: 100vh;
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 992px) {
    .logo-desktop {
        display: block;
    }
    .logo-mobile {
        display: none;
    }
    .login-wrapper {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
        width: auto;
        height: auto;
        padding: 24px 38px 31px;
    }
}

@media (max-width: 992px) {
    .login-wrapper {
        height: 100%;
        max-width: 720px;
        padding: 24px 38px 31px;
    }
    .signup {
        width: 100%;
    }
}