.btn,
.form-control {
    height: auto;
}

.btn {
    padding: 0.7rem 2rem;
}

.input-group-prepend .btn,
.input-group-append .btn {
    padding: 0.7rem 1rem;
}

.form-control {
    padding: 0.7rem 0.75rem;
}

.form-group label {
    font-size: 14px;
    font-weight: 600;
}

.data-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 23rem);
    .spinner-border {
        width: 4rem;
        height: 4rem;
    }
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    svg {
        margin-bottom: 1rem;
    }
    p {
        margin: 1rem 0 3rem;
    }
}

.card {
    .card-header {
        background: #FFFFFF;
        border-bottom: 1px solid #DDDDDD;
        h1,
        h2 {
            margin: 0;
            font-size: 24px;
            font-weight: 600;
        }
        p {
            margin: .3rem 0 0;
        }
    }
    .card-body {
        h3 {
            font-size: 24px;
            font-weight: 600;
            margin: 0;
        }
    }
}

.form-group {
    label {
        font-weight: 600;
    }
}

.box {
    .card-body {
        h2 {
            font-weight: 600;
        }
        .card-row {
            .title:hover {
                opacity: 0.8;
            }
            .title {
                font-weight: 600;
                color: #303f9f;
            }
        }
    }
}

nav {
    .top_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

aside {
    background: $primary;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    overflow: hidden;
    transition: width 0.5s ease;
    z-index: 1;
    ul {
        li {
            padding: 1rem;
            margin: 0.5rem 0;
            position: relative;
            white-space: nowrap;
            a {
                color: #FFFFFF;
                font-size: 1.1rem;
                display: block;
                transition: all 0.2s ease;
                &:hover {
                    color: #FFFFFF;
                    margin-left: 5px;
                }
                img {
                    max-width: 15%;
                    margin-right: 1rem;
                    vertical-align: text-top;
                }
                span {
                    transition: font-size 0.2s ease;
                }
            }
            &.active {
                background: #FFFFFF;
                border-radius: 10px;
                a {
                    color: $primary;
                }
            }
        }
    }
    .aside-header {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        .toggle {
            background: #2b3781;
            padding: 0.95rem 0.75rem;
        }
        .logo {
            width: 100vw;
            img {
                width: 70%;
            }
        }
    }
    .sidebar-menu {
        margin: 0 1rem;
    }
}

.open aside {
    width: 100%;
    .toggle {
        display: none;
    }
    nav {
        ul {
            li {
                border-bottom: 1px solid #FFFFFF;
                &:after {
                    content: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" fill="%23FFFFFF" width="20" height="20" class="bi bi-arrow-right-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/><g stroke="red"/></svg>');
                    position: absolute;
                    top: 1.6rem;
                    right: 0;
                }
            }
        }
    }
}

.collapsed {
    aside {
        width: 80px;
        .aside-header {
            margin: 0;
            .toggle {
                width: 100vw;
                text-align: center;
            }
            .logo {
                display: none;
            }
        }
        ul {
            li {
                padding: 1rem 0;
                text-align: center;
                a {
                    span {
                        font-size: 0;
                    }
                    svg {
                        margin: 0;
                    }
                }
            }
        }
    }
    .content-wrapper {
        margin-left: 80px;
    }
}

.content-wrapper {
    margin-left: 250px;
    transition: margin-left 0.5s ease;
    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url(../../assets/images/select_arrow.png);
        background-position: right 13px top 50%;
        background-repeat: no-repeat;
        color: #a4adba;
        font-size: 14px;
    }
    textarea::-webkit-input-placeholder,
    input::-webkit-input-placeholder {
        /* Edge */
        color: #a4adba;
        font-size: 14px;
    }
    textarea:-ms-input-placeholder,
    input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #a4adba;
        font-size: 14px;
    }
    textarea::placeholder,
    input::placeholder {
        color: #a4adba;
        font-size: 14px;
    }
    .border-bottom {
        border-bottom: 1px solid #dedee4c4;
    }
    p {
        font-size: 16px;
    }
    .blue {
        color: #33429b;
    }
    .light_gray {
        color: #7b7b7c;
    }
    .align-center-flex {
        display: flex;
        align-items: center;
    }
    .submenus {
        margin: 0;
        width: 100%;
        li {
            display: inline-block;
            margin-left: 5rem;
            &:first-child {
                margin-left: 0;
            }
            a {
                color: rgba(16, 25, 40, .55);
                font-weight: 600;
                padding-bottom: 1.5rem;
                display: block;
                position: relative;
                &:after {
                    background-color: $primary;
                    border-radius: 3px;
                    height: 4px;
                    content: "";
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: all .1s linear 0s;
                }
                // &.router-link-active,
                &:hover {
                    color: $primary;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .dropdown {
        .btn {
            height: 47px;
        }
    }
    .navbar-header {
        background: #FFFFFF;
        min-height: 60px;
        border-bottom: 1px solid #DDDDDD;
        .go-back,
        .toggler {
            display: none;
        }
        h1 {
            font-size: 1.7rem;
            font-weight: 600;
            margin: 0;
        }
        .navbar-header-menu {
            margin: 0;
            padding: 0.5rem 0rem;
            .user-menu {
                .dropdown-toggle {
                    background: $primary;
                    color: #FFFFFF;
                    border-radius: 50%;
                    padding: 0.5rem;
                    &::after {
                        display: none;
                    }
                }
                .dropdown-menu {
                    right: 1.5rem;
                    left: auto;
                    top: 3.6rem;
                    border: 0;
                    box-shadow: 0 2px 5px 0 rgba(164, 173, 186, .25);
                    border-radius: 5px;
                    a {
                        font-weight: 300;
                        padding: 0.5rem 1rem;
                        svg {
                            margin-right: 0.4rem;
                        }
                        &:hover {
                            color: #FFFFFF;
                            background: $primary;
                        }
                    }
                }
            }
        }
        &.with-submenus {
            padding: 0.5rem 1.5rem 0;
            .submenus {
                margin: 1rem 0 0;
            }
        }
    }
    .container-body {
        margin: 1.5rem;
        .centralized {
            margin: auto;
            padding: 5rem 0;
            width: 70%;
            .modal {
                align-items: center;
                justify-content: center;
            }
            .heading-with-back {
                margin-bottom: 2rem;
                align-items: center;
                h1 {
                    font-size: 24px;
                    font-weight: 700;
                    .go-back {
                        color: #000000;
                        svg {
                            width: 25px;
                            height: 25px;
                            margin-right: .5rem;
                            float: left;
                            margin-top: 1px;
                        }
                    }
                }
                p {
                    margin-left: 2rem;
                    margin-bottom: 0;
                    color: #7b7b7c;
                    font-size: 16px;
                }
            }
        }
        .footer {
            .btn-back {
                background: #FFFFFF;
                box-shadow: 0 4px 8px 0 rgba(16, 25, 40, 0.1);
            }
            .btn {
                &:last-child {
                    float: right;
                }
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .submenus {
        li {
            margin-left: 3rem;
            a {
                font-size: 14px;
            }
        }
    }
    .inner_staff {
        padding: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .content-wrapper {
        .submenus {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            li {
                width: 100%;
                margin-left: 1.5rem;
                a {
                    padding: 20px 0;
                }
            }
        }
        .inner_staff {
            padding: 20px;
        }
    }
    body {
        overflow: hidden;
    }
    .card {
        box-shadow: none;
        .card-body {
            padding: 0;
        }
    }
    aside {
        width: 0;
        .aside-header {
            .logo {
                img {
                    width: auto;
                }
            }
        }
    }
    .content-wrapper {
        margin: 0;
        .navbar-header {
            .go-back,
            .toggler {
                display: block;
            }
            .navbar-header-menu {
                display: none;
            }
        }
        .container-body {
            background: #FFFFFF;
            height: calc(100vh - 60px);
            overflow-y: scroll;
            .centralized {
                width: 100%;
                margin: 0;
                padding: 1rem;
                .heading-with-back {
                    .go-back {
                        display: none;
                    }
                    p {
                        margin-left: 0;
                    }
                }
                &.is-form {
                    padding-bottom: 6rem;
                }
            }
        }
        .fixedbutton {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #FFFFFF;
            border-top: 1px solid #929eaa59;
            margin: 0;
            padding: 1rem;
            button {
                display: block;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .inner_staff {
        .table {
            thead {
                th {
                    border-bottom: 1px solid #dee2e6;
                }
            }
        }
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(16, 25, 40, 0.1);
        transition: box-shadow 0.2s ease;
        &:hover {
            box-shadow: 0 5px 15px 5px rgba(164, 173, 186, 0.25);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .content-wrapper {
        .container-body {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 650px) {
    .content-wrapper {
        .navbar-header.with-submenus {
            padding: 13px 9px 0;
        }
        .btn {
            padding: 0.4rem 1.5em;
            font-size: 14px;
        }
        .submenus {
            li {
                margin-left: 0.9rem;
                a {
                    font-size: 13px;
                }
            }
        }
    }
}

@media only screen and (max-width: 380px) {
    .content-wrapper {
        .submenus {
            li {
                margin-left: 0.4rem;
                a {
                    font-size: 11px;
                }
            }
        }
    }
}


/* The container */

.container-radio {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    transition: background-color 250ms ease, border 250ms ease;
}


/* Hide the browser's default radio button */

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container-radio:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container-radio input:checked~.checkmark {
    background-color: #33429b;
    transition: all 250ms ease;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container-radio input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}