<template>
    <div class="login-bg">
        <div class="logo-desktop text-center mb-5">
            <img src="../../assets/images/blue_logo.png" />
        </div>
        <div class="login-wrapper">
            <div class="logo-mobile text-center mt-3 mb-5">
                <img src="../../assets/images/blue_logo.png" />
            </div>
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>
<script>
    import moment from "moment"

    export default {
        data: function () {
            return {
                year: moment(new Date()).format("YYYY")
            }
        }
    }
</script>
<style scoped>
    @import '../../assets/css/auth.scss'
</style>