<template>
    <div :class="'body ' + asideToggle">
        <aside>
            <div class="aside-header">
                <div class="toggle">
                    <a v-on:click="asideToggle == '' ? asideToggle = 'collapsed' : asideToggle = ''" href="javascript:;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FFFFFF" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </a>
                </div>
                <div class="logo text-center">
                    <img src="../../assets/images/white_logo.png" alt="" />
                </div>
            </div>
            <nav>
                <div class="sidebar-menu">
                    <ul>
                        <li v-on:click="asideToggle = ''">
                            <a href="javascript:;">
                                <img src="../../assets/images/home.svg" />
                                <span>Home</span>
                            </a>
                        </li>
                        <li v-on:click="asideToggle = ''">
                            <a href="javascript:;">
                                <img src="../../assets/images/calendar.svg" />
                                <span>Calendar</span>
                            </a>
                        </li>
                        <li v-on:click="asideToggle = ''">
                            <a href="javascript:;">
                                <img src="../../assets/images/sales.svg" />
                               <span>Sales</span>
                            </a>
                        </li>
                        <li v-on:click="asideToggle = '' " v-bind:class="{ 'active': $route.matched[1] && $route.matched[1].path == '/customers' }">
                            <router-link to="/customers">
                                <img src="../../assets/images/customers.svg" />
                                <span>Customers</span>
                            </router-link>
                        </li>
                        <li v-on:click="asideToggle = '' " v-bind:class="{ 'active': $route.matched[1] && $route.matched[1].path == '/staff' }">
                            <router-link :to="{ name: 'staff.index' }">
                                <img src="../../assets/images/staff.svg" />
                                <span>Staff</span>
                            </router-link>
                        </li>
                        <li v-on:click="asideToggle = '' " v-bind:class="{ 'active': $route.matched[1] && $route.matched[1].path == '/services' }">
                            <router-link to="/services">
                                <img src="../../assets/images/services.svg" />
                                <span>Services</span>
                            </router-link>
                        </li>
                        <li v-on:click="asideToggle = ''">
                            <a href="javascript:;">
                                <img src="../../assets/images/products.svg" />
                                <span>Products</span>
                            </a>
                        </li>
                        <li v-on:click="asideToggle = ''" v-bind:class="{ 'active': $route.matched[1] && $route.matched[1].path == '/setup' }">
                            <router-link :to="{ name: 'setup.index' }">
                                <img src="../../assets/images/setup.svg" />
                               <span>Setup</span>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <div class="content-wrapper">
            <nav v-bind:class="{ 'navbar': true, 'navbar-header': true, 'with-submenus': has_submenus }">
              <div class="top_header">
                <a v-on:click="performPreviousOperation()" href="javascript:;" class="go-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </a>
                <h1 v-html="heading"></h1>
                <a v-on:click="asideToggle = 'open'" href="javascript:;" class="toggler text-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </a>
                <ul class="ml-auto navbar-header-menu">
                    <li class="user-menu">
                        <a v-on:click="show_user_menu = !show_user_menu;" v-on:blur="show_user_menu = false;" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">{{ userShortName }}</a>
                        <transition name="slide-down-fade" mode="out-in">
                            <div v-if="show_user_menu" class="dropdown-menu show">
                                <router-link :to="{ name: 'my-settings' }" class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                                    </svg>
                                    Profile
                                </router-link>
                                <a v-on:click="logout()" class="dropdown-item" href="javascript:;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                    </svg>
                                    Logout
                                </a>
                            </div>
                        </transition>
                    </li>
                </ul>
            </div>
                <transition name="slide-down-fade" mode="out-in">
                    <ul v-if="has_submenus" class="submenus">
                        <li>
                            <router-link :to="{ name: 'staff.index' }">Staff Working Hours</router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'staff.employees' }">Staff Members</router-link>
                        </li>
                        <li>
                            <a href="javascript:;">User Permissions</a>
                        </li>
                        <li>
                            <a href="javascript:;">User Permissions</a>
                        </li>
                        <li>
                            <a href="javascript:;">User Permissions</a>
                        </li>
                        <li>
                            <a href="javascript:;">User Permissions</a>
                        </li>
                    </ul>
                </transition>
            </nav>
            <div class="container-body">
                <transition name="slide-fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                asideToggle: "",
                show_user_menu: false,
                heading: "Heading",
                userDetails: {}
            }
        },
        created: function () {
            this.$http.get("/profile")
            .then(res => {
                this.userDetails = res.data
            })

            this.$on("heading", heading => {
                this.heading = heading
            })

            this.$on("overridePreviousOperation", callback => {
                this.performPreviousOperation = callback
            })
        },
        computed: {
            userShortName: function () {
                if (this.userDetails.first_name) {
                    const first_name = this.userDetails.first_name
                    const last_name = this.userDetails.last_name
                    return first_name.charAt(0) + last_name.charAt(0)
                }

                return ''
            },
            has_submenus: function () {
                return this.$route.matched[1] && this.$route.matched[1].path == "/staff"
            }
        },
        methods: {
            performPreviousOperation: function () {
                this.$router.go(-1)
            },
            logout: function () {
                this.$store.dispatch("logout")
                .then(() => {
                    this.$root.$toast.open("Logout successful.")
                    this.$router.push("/auth/login")
                })
            }
        }
    }
</script>
<style lang="scss">
    @import '../../assets/css/_variables.scss';
    @import '../../assets/css/theme.scss';
</style>