<template>
  <div class="full-centralized">
    <div class="heading-with-back row">
      <div class="col-xl-12 col-lg-12">
        <form>
          <div class="flex_div">
            <div class="form-group">
              <select class="form-control">
                <option value="">Locations</option>
                <option>Locations</option>
                <option>Locations</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option value="">All Staff</option>
                <option>All Staff</option>
                <option>All Staff</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="schedule-tables row">
      <div class="col-lg-12 col-sm-12 col-xl-12">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Sun | 24</th>
              <th>Mon | 25</th>
              <th>Tue | 26</th>
              <th>Wed | 27</th>
              <th>Thu | 28</th>
              <th>Fri | 29</th>
              <th>Sat | 30</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span>
                  <strong>Jane Doe</strong>
                  <small>47h 55min</small>
                </span>
              </td>
              <td class="add_state">
                <div>
                  <router-link to="/">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-plus"
                      viewBox="0 0 16 16"
                      stroke-width="0.5"
                      stroke="#000000"
                    >
                      <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                      />
                    </svg>
                  </router-link>
                </div>
              </td>
              <td class="color_purple">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_purple">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">4:55pm</span>
                </div>
              </td>
              <td class="color_purple">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_purple">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_purple">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_purple">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
            </tr>
            <tr scope="row">
              <td>
                <span>
                  <strong>Danish Bhayani</strong>
                  <small>52h 55min</small>
                </span>
              </td>
              <td></td>
              <td class="color_yollew">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
                <div>
                  <span class="new_line">5:05pm</span>
                  <span class="new_line">-</span>
                  <span class="new_line">10:00pm</span>
                </div>
              </td>
              <td class="color_yollew">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_yollew">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_yollew">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_yollew">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_yollew">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span>
                  <strong>Wamiq Jafri</strong>
                  <small>32h</small>
                </span>
              </td>
              <td class="color_green">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_green">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_green">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_green">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">1:00pm</span>
                </div>
                <div>
                  <span class="new_line">2:00pm</span>
                  <span class="new_line">-</span>
                  <span class="new_line">6:00pm</span>
                </div>
              </td>
              <td class="color_green">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">1:00pm</span>
                </div>
                <div>
                  <span class="new_line">2:00pm</span>
                  <span class="new_line">-</span>
                  <span class="new_line">6:00pm</span>
                </div>
              </td>
              <td class="color_green">
                <div>
                  <span class="new_line">2:00pm</span>
                  <span class="new_line">-</span>
                  <span class="new_line">6:00pm</span>
                </div>
              </td>
              <td class="color_green">
                <div>
                  <span class="new_line">2:00pm</span>
                  <span class="new_line">-</span>
                  <span class="new_line">6:00pm</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span>
                  <strong>Wendy Smith</strong>
                  <small>16h</small>
                </span>
              </td>
              <td class="color_light_blue">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_light_blue">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td class="color_light_blue">
                <div>
                  <span class="new_line">9:00am</span>
                  <span class="new_line">-</span>
                  <span class="new_line">5:00pm</span>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  created: function () {
    this.$root.$emit("heading", "Staff");
  },
};
</script>
<style lang="scss" scoped>
.full-centralized {
  padding: 40px;
  .col-xl-12 {
    padding: 0;
  }
  .row {
    margin: 0;
  }
  .flex_div {
    display: flex;
  }
  .form-group {
    box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
    transition: box-shadow 0.2s ease;
    margin-right: 25px;
    width: 100%;
    max-width: 165px;
    select {
      border: 0;
      width: 100%;
      height: 46px;
      background-position: 87%;
      color: #797e84;
      font-size: 16px;
      font-weight: 600;
      padding: 3px 20px;
    }
    select:focus {
      box-shadow: inherit;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}
.schedule-tables {
  box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
  transition: box-shadow 0.2s ease;
  background-color: #fff;
  margin-top: 30px !important;
  .col-sm-12 {
    padding: 0;
    .table tr td,
    .table tr th {
      text-align: center;
    }
    .table tr td:first-child {
      padding: 0;
      text-align: left;
    }
    .table tr td:first-child span {
      padding: 20px;
      text-align: left;
    }
    .table tr td:first-child strong {
      float: left;
      width: 100%;
      font-weight: 600;
    }
  }
  .table {
    border-left: 2px solid #e7e8e9;
    margin-bottom: 0;
  }
  .table thead tr th {
    font-weight: 600;
    font-size: 17px;
    padding: 30px;
  }
  .table tr td {
    border-right: 2px solid #e7e8e9;
    padding: 0;
    border-top: 1px solid #e7e8e9;
    width: calc(100% / 8);
  }
  .table tr td span {
    display: block;
    font-size: 17px;
    font-weight: 600;
  }
  .table tr td small {
    color: #7b7b7c;
    font-size: 14px;
  }
  .table tr td span {
    display: block;
    font-size: 17px;
    font-weight: 600;
  }

  .color_purple {
    background-color: #d8ddf5;
    span {
      color: #33429b;
    }
  }
  .color_yollew {
    background-color: #ffe6c3;
    span {
      color: #705024;
    }
  }
  .color_green {
    background-color: #c1edd1;
    span {
      color: #317349;
    }
  }
  .color_light_blue {
    background-color: #a7ebe5;
    span {
      color: #1c5853;
    }
  }
  .table tr td div {
    padding: 30px;
    border-bottom: 1px solid #e7e8e9;
  }
  .add_state {
    vertical-align: middle;
    div {
      border-bottom: 0 !important;
    }
    a {
      color: #000;
    }
    svg {
      background-color: #deeaf3;
      border-radius: 100%;
    }
  }
}

@media screen and (max-width: 1450px) {
  .schedule-tables {
    .col-sm-12 {
      .table tr td:first-child span {
        padding: 15px;
      }
      .table thead tr th {
        padding: 20px;
      }
      .table thead tr th,
      .table tr td span {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .table {
    width: 1380px;
  }
  .schedule-tables > div {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 450px) {
 .full-centralized {
.form-group{
   select{font-size: 14px;}
}
 } 

.schedule-tables{
.table tr td{
  width: calc(100% / 50);
}
}
}
</style>