<template>
    <transition name="slide-fade" mode="out-in">
        <router-view />
    </transition>
</template>
<script>
    export default {
        created: function () {
            this.$parent.$emit("heading", "Staff")
        }
    }
</script>