<template>
    <div class="centralized">
        <div class="heading-with-back row">
            <div class="col-lg-6 col-xl-6">
                <div class="title">
                    <h1>
                        <router-link :to="{ name: 'setup.index' }" class="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </router-link>
                        Business Locations
                    </h1>
                    <p>Manage multiple locations for your business.</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 text-right">
                <router-link :to="{ name: 'setup.locations.add' }" class="btn btn-add-new btn-primary">
                    Add a new location
                </router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <router-link v-for="row in results" v-bind:key="row.id" :to="{ name: 'setup.locations.view', params: { id: row.id }}" class="card">
                    <div class="branch-image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                        </svg>
                    </div>
                    <div class="branch-details">
                        <p class="title">{{ row.name }}</p>
                        <p class="description">{{ row.address }}</p>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                results: []
            }
        },
        created: function () {
            this.$root.$emit("heading", "Setup")

            this.$http.get("business/branches")
            .then(res => {
                this.results = res.data
            })
        }
    }
</script>
<style lang="scss" scoped>
    .card {
        flex-direction: row;
        padding: 0.5rem;
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
        .branch-image {
            background: #e5f1ff;
            height: 10rem;
            border-radius: 0.25rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            margin-right: 2rem;
        }
        .branch-details {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: #000000;
            margin: 1rem 0 0.5rem;
            p {
                margin: 0;
            }
            .title {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .card {
            flex-direction: column;
            .branch-image {
                width: auto;
                margin: 0;
            }
        }
    }
</style>