<template>
    <form v-on:submit.prevent="submitForm" autocomplete="off">
        <div class="heading-with-back row">
            <div class="col-lg-6 col-xl-6">
                <div class="title">
                    <h1>
                        <router-link :to="backLink" class="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </router-link>
                        Basic Location Details
                    </h1>
                    <p>Step 1 of 2</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form-input :model=name label="Location name" />
                    </div>
                    <div class="col-md-4">
                        <form-input :model=email label="E-mail address" />
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Contact Number *</label>
                            <div class="input-group">
                                <div class="input-group-prepend f16">
                                    <button class="btn input-group-text">
                                        <span :class="'flag ' + flag"></span>
                                        {{ phoneCode }}
                                    </button>
                                </div>
                                <input v-model="contactNumber.value" type="text" :class="'form-control' + (contactNumber.error ? ' is-invalid' : '')" />
                                <span v-html="contactNumber.error" class="invalid-feedback"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form-input :model=address label="Address" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <select v-on:change="getCities($event)" v-model="state.value" :class="'form-control' + (state.error ? ' is-invalid' : '')" >
                                <option value="">Please Select</option>
                                <option v-for="state in states" v-bind:key="state.id" :value="state.id">
                                    {{ state.name }}
                                </option>
                            </select>
                            <span v-html="state.error" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>City</label>
                            <select v-model="city.value" :class="'form-control' + (city.error ? ' is-invalid' : '')" >
                                <option value="">Please Select</option>
                                <option v-for="city in cities" v-bind:key="city.id" :value="city.id">
                                    {{ city.name }}
                                </option>
                            </select>
                            <span v-html="state.error" class="invalid-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 mt-5 footer">
                <form-button type="submit" :disabled="!is_complete || is_submitted" :is_submitted=is_submitted>Save basic location details</form-button>
            </div>
        </div>
    </form>
</template>
<script>
    export default {
        data: function () {
            return {
                name: {
                    value: "",
                    error: null,
                    required: true
                },
                email: {
                    value: "",
                    error: null,
                    type: "email",
                    required: true
                },
                contactNumber: {
                    value: "",
                    error: null,
                    required: true,
                    type: "number"
                },
                address: {
                    value: "",
                    error: null,
                    required: true
                },
                state: {
                    value: "",
                    error: null,
                    required: true
                },
                city: {
                    value: "",
                    error: null,
                    required: true
                },
                phoneCode: "",
                flag: "",
                states: [],
                cities: [],
                is_submitted: false,
                backLink: { name: "setup.index" }
            }
        },
        created: function () {
            this.$http.get("business/settings")
            .then(settings => {
                this.$http.get("countries")
                .then(resCountries => {
                    const countries = resCountries.data

                    const row = countries.filter(row => {
                        if (row.id == settings.data.country_id) {
                            return row
                        }
                    })

                    this.flag = row[0].sortname.toLowerCase()
                    this.phoneCode = row[0].phonecode

                    this.$http.get("states?country_id=" + row[0].id)
                    .then(res => {
                        this.states = res.data
                    })
                })
            })
            
            if (this.$route.params.id) {
                this.backLink = { name: "setup.locations.view", params: { id: this.$route.params.id } }

                this.$http.get("business/branches/" + this.$route.params.id)
                .then(res => {
                    this.name.value = res.data.name
                    this.email.value = res.data.email
                    this.contactNumber.value = res.data.contactNumber
                    this.address.value = res.data.address
                    this.state.value = res.data.state.id

                    this.$http.get("cities?state_id=" + this.state.value)
                    .then(states => {
                        this.cities = states.data
                        this.city.value = res.data.city.id
                    })
                })
            }
        },
        computed: {
            is_complete: function () {
                return (
                    this.name.value &&
                    this.email.value &&
                    this.isValidEmail(this.email.value) &&
                    this.contactNumber.value &&
                    this.address.value
                )
            }
        },
        methods: {
            getCities: function (event) {
                this.$http.get("cities?state_id=" + event.target.value)
                .then(res => {
                    this.cities = res.data
                })
            },
            submitForm: function () {
                this.is_submitted = true
                const data = {
                    name: this.name.value,
                    email: this.email.value,
                    contactNumber: this.contactNumber.value,
                    address: this.address.value,
                    state: this.state.value,
                    city: this.city.value
                }

                let axios = null

                if (this.$route.params.id) {
                    axios = this.$http.put("business/branches/step1/" + this.$route.params.id, data)
                } else {
                    axios = this.$http.post("business/branches/step1", data)
                }

                axios.then(res => {
                    if (res.data.success) {
                        this.$root.$toast.open(res.data.message)

                        if (this.$route.params.id) {
                            this.$router.push({ name: "setup.locations.view", params: { id: this.$route.params.id } })
                        } else {
                            this.$router.push({ name: "setup.locations.step2", params: { id: res.data.params.id } })
                        }
                    }
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
    .heading {
        display: none;
        width: 100%;
        text-align: center;

        p {
            margin: 0;
        }

        .description {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
</style>