<template>
    <form v-on:submit.prevent="submitForm" autocomplete="off">
        <div class="heading-with-back row">
            <div class="col-lg-6 col-xl-6">
                <div class="title">
                    <h1>
                        <router-link :to="{ name: 'setup.locations.view', params: { id: this.$route.params.id } }" class="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </router-link>
                        Select Branch Business Type
                    </h1>
                    <p>Step 2 of 2</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <ul class="business-types d-flex flex-wrap">
                    <li v-for="row in data" v-bind:key="row.id" v-bind:class="{ active: types.indexOf(row.id) > -1 }" v-on:click="setAsSelected(row)">
                        <img :src="require(`@/assets/images/business_types/${row.icon}.png`)" />
                        <p>{{ row.title }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 mt-5 footer">
                <form-button type="submit" :disabled="!is_complete || is_submitted" :is_submitted=is_submitted>Submit</form-button>
            </div>
        </div>
    </form>
</template>
<script>
    export default {
        data: function () {
            return {
                data: [],
                types: [],
                is_submitted: false
            }
        },
        created: function () {
            this.$root.$emit("heading", "Setup")

            this.$http.get("business/types")
            .then(res => {
                this.data = res.data
            })

            this.$http.get("business/branches/" + this.$route.params.id)
            .then(res => {
                const types = res.data.types

                for (let i in types) {
                    this.types.push(types[i].id)
                }
            })
        },
        computed: {
            is_complete: function () {
                return this.types.length
            }
        },
        methods: {
            setAsSelected: function (row) {
                const indexOf = this.types.indexOf(row.id)
                
                if (indexOf === -1) {
                    if (this.types.length < 3) {
                        this.types.push(row.id)
                    } else {
                        this.$root.$toast.open({ message: "You can select maximum 3 types.", type: "info" })
                    }
                } else {
                    this.types.splice(indexOf, 1)
                }
            },
            submitForm: function () {
                this.is_submitted = true

                this.$http.put("business/branches/step2/" + this.$route.params.id, { types: this.types })
                .then(res => {
                    if (res.data.success) {
                        this.$root.$toast.open(res.data.message)
                        this.$router.push({ name: "setup.locations.view", params: { id: this.$route.params.id } })
                    }
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
    .card {
        .card-body {
            .business-types {
                margin: 0;
                li {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #d5d7da;
                    border-radius: 10px;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 0.5rem;
                    font-size: 1.5vw;
                    font-weight: 500;
                    position: relative;
                    cursor: pointer;
                }
                span {
                    width: 50%;
                }
                img {
                    width: 80px;
                    height: 80px;
                }
                p {
                    margin: 1rem 0 0;
                }
                :hover,
                .active {
                    background: #e5f1ff;
                }
                .active {
                    &:after {
                        content: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" /></svg>');
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        width: 20px;
                        height: 20px;
                        background: #303f9f;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .card {
            .card-body {
                .business-types {
                    li {
                        width: calc(96% / 3);
                        height: 180px;
                        font-size: 1rem;
                        margin-right: 2%;
                    }
                    li:nth-child(3n+4),
                    li:nth-child(3n+5),
                    li:nth-child(3n+6) {
                        margin-top: 2%;
                    }
                    li:nth-child(3n+3) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 786px) {
        .card {
            .card-body {
                .business-types {
                    li {
                        width: calc(92% / 5);
                        height: 180px;
                        font-size: 1rem;
                        margin-right: 2%;
                    }
                    li:nth-child(5n+1),
                    li:nth-child(5n+2),
                    li:nth-child(5n+3),
                    li:nth-child(5n+4),
                    li:nth-child(5n+5) {
                        margin-bottom: 2%;
                    }
                    li:nth-child(5n+5) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
</style>