<template>
    <div>
        <div class="heading-with-back row">
            <div class="col-lg-6 col-xl-6">
                <div class="title">
                    <h1>
                        <router-link :to="{ name: 'setup.locations', params: { id: $route.params.id } }" class="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </router-link>
                        {{ name }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10">
                                <h2>Basic Details</h2>
                            </div>
                            <div class="col-2 text-right">
                                <router-link :to="{ name: 'setup.locations.step1', params: { id: $route.params.id } }">
                                    Edit
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8">
                                <div>
                                    <label>E-mail address</label>
                                    <p class="m-0">{{ email }}</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div>
                                    <label>Contact Number</label>
                                    <p class="m-0">{{ contactNumber }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <label>Address</label>
                            <p class="m-0">{{ complete_address }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 business-types">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10">
                                <h2>Business Types</h2>
                            </div>
                            <div class="col-2 text-right">
                                <router-link :to="{ name: 'setup.locations.step2', params: { id: $route.params.id } }">
                                    Edit
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul v-if="types.length" class="business-types d-flex flex-wrap">
                            <li v-for="row in types" v-bind:key="row.id">
                                <img :src="require(`@/assets/images/business_types/${row.icon}.png`)" />
                                <p>{{ row.title }}</p>
                            </li>
                        </ul>
                        <p v-if="!types.length">No Business types added.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <iframe :src="'https://www.google.com/maps?q=' + map_address + '&output=embed'" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                name: "",
                email: "",
                contactNumber: "",
                address: "",
                state: {},
                city: {},
                types: []
            }
        },
        computed: {
            complete_address: function () {
                return this.address + ", " + this.state.name + ", " + this.city.name
            },
            map_address: function () {
                return encodeURI(this.complete_address)
            },
        },
        created: function () {
            this.$root.$emit("heading", "Setup")

            this.$http.get("business/branches/" + this.$route.params.id)
            .then(res => {
                this.name = res.data.name
                this.email = res.data.email
                this.contactNumber = res.data.contactNumber
                this.address = res.data.address
                this.state = res.data.state
                this.city = res.data.city

                if (res.data.types) {
                    this.types = res.data.types
                }
            })
        }
    }
</script>
<style lang="scss" scoped>
    .card {
        .card-body {
            .business-types {
                margin: 0;
                li {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #d5d7da;
                    border-radius: 10px;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 0.5rem;
                    font-size: 1.5vw;
                    font-weight: 500;
                    position: relative;
                    width: calc(86% / 3);
                    height: 133px;
                    margin-right: 7%;
                    &:nth-child(3n+3) {
                        margin-right: 0;
                    }
                }
                span {
                    width: 50%;
                }
                img {
                    width: 70px;
                    height: 70px;
                }
                p {
                    font-size: .8rem;
                    margin: 1rem 0 0;
                }
                :hover,
                .active {
                    background: #e5f1ff;
                }
                .active {
                    &:after {
                        content: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" /></svg>');
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        width: 20px;
                        height: 20px;
                        background: #303f9f;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
</style>