<template>
    <div class="centralized">
        <form v-on:submit.prevent="submitForm" autocomplete="off">
            <div class="row business-row mb-5">
                <div class="col-xl-6 col-lg-6">
                    <h2>Personal Details</h2>
                    <p>Set your name and contact information, the email address entered here is used for your login access.</p>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-xl-6 col-sm-6">
                                    <form-input :model=first_name label="First name" />
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6">
                                    <form-input :model=last_name label="Last name" />
                                </div>
                            </div>
                            <form-input :model=phone_number label="Phone number" class="f16">
                                <template v-slot:input_group_prepend>
                                    <span class="flag pk"></span>92
                                </template>
                            </form-input>
                            <form-input :model=email label="E-mail address" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row business-row">
                <div class="col-xl-6 col-lg-6">
                    <h2>Change Password</h2>
                    <p>To make an update, enter your existing password followed by a new one. If you don't know your existing password, you can logout and use the Reset Password link on the Log In page.</p>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <form-password :model=current_password label="Current Password" />
                            <form-password :model=new_password label="New Password" />
                            <form-password :model=confirm_password label="Confirm Password" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 mt-5 footer">
                    <button type="submit" class="btn btn-primary" :disabled="isSubmitted">
                        <span v-if="isSubmitted" class="spinner-border spinner-border-sm"></span> Update Profile
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    import formPassword from "./helpers/form-password"

    export default {
        components: {
            formPassword
        },
        data: function () {
            return {
                first_name: {
                    value: "",
                    error: null
                },
                last_name: {
                    value: "",
                    error: null
                },
                phone_number: {
                    value: "",
                    error: null,
                    readonly: true
                },
                email: {
                    value: "",
                    error: null,
                    readonly: true
                },
                current_password: {
                    value: "",
                    error: null
                },
                new_password: {
                    value: "",
                    error: null
                },
                confirm_password: {
                    value: "",
                    error: null
                },
                showHint: false,
                minLengthValidation: "text-danger",
                upperOrLowerCaseValidation: "text-danger",
                numberValidation: "text-danger",
                isSubmitted: false
            }
        },
        created: function () {
            this.$parent.$emit("heading", "Profile")

            this.$http.get("profile")
            .then(res => {
                this.first_name.value = res.data.first_name
                this.last_name.value = res.data.last_name
                this.phone_number.value = res.data.phone_number
                this.email.value = res.data.email
            })
        },
        methods: {
            validatePassword: function () {
                if (this.new_password.value && this.new_password.value.length >= 8) {
                    this.minLengthValidation = ""
                } else {
                    this.minLengthValidation = "text-danger"
                }

                if ((/[a-z]/.test(this.new_password.value)) && (/[A-Z]/.test(this.new_password.value))) {
                    this.upperOrLowerCaseValidation = ""
                } else {
                    this.upperOrLowerCaseValidation = "text-danger"
                }

                if ((/[0-9]/.test(this.new_password.value))) {
                    this.numberValidation = ""
                } else {
                    this.numberValidation = "text-danger"
                }
            },
            validateConfirmPassword: function () {
                if (this.new_password.value && this.confirm_password.value && (this.new_password.value != this.confirm_password.value)) {
                    this.confirm_password.error = "Confirm password field does not match."
                } else {
                    this.confirm_password.error = null
                }
            },
            submitForm: function () {
                this.isSubmitted = true

                this.$http.put("profile", {
                    first_name: this.first_name.value,
                    last_name: this.last_name.value,
                    current_password: this.current_password.value,
                    new_password: this.new_password.value,
                    confirm_password: this.confirm_password.value
                })
                .then(res => {
                    this.$root.$toast.open(res.data.message)
                })
                .catch(error => {
                    this.appendErrors(error, this.form)
                })
                .finally(() => {
                    this.isSubmitted = false
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
    .business-row {
        h2 {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: .9rem;
            line-height: 2;
        }
    }
    @media only screen and (max-width: 640px) {
        
    }
</style>