<template>
    <form v-on:submit.prevent="submitForm" autocomplete="off">
        <div class="row">
            <div class="col-md-6">
                <form-input :model=first_name label="First Name" />
            </div>
            <div class="col-md-6">
                <form-input :model=last_name label="Last Name" />
            </div>
            <div class="col-md-6">
                <form-input :model=phone_number label="Phone Number">
                    <template v-slot:input_group_prepend>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
                            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/>
                        </svg>
                    </template>
                </form-input>
            </div>
            <div class="col-md-6">
                <form-input :model=email label="E-mail address" type="email" />
            </div>
            <div class="col-md-6">
                <form-dropdown :model=user_permission label="User Permission" :items=user_permissions_list placeholder="No Access" />
            </div>
            <div class="col-md-6">
                <form-input :model=staff_title label="Staff title" />
            </div>
            <div class="col-md-6">
                <form-input :model=emp_start_date label="Employment Start Date">
                    <datepicker v-model="emp_start_date.value" format="D, d MMMM yyyy" :input-class="'form-control datepicker' + (emp_start_date.error ? ' is-invalid' : '')" required />
                </form-input>
            </div>
            <div class="col-md-6">
                <form-input v-if="emp_start_date.value" :model=emp_end_date label="Employment End Date">
                    <datepicker v-model="emp_end_date.value" format="D, d MMMM yyyy" :disabledDates="disabledDatesForEndDate" :input-class="'form-control datepicker' + (emp_end_date.error ? ' is-invalid' : '')" />
                </form-input>
            </div>
            <div class="col-md-12">
                <form-input :model=notes label="Notes" type="textarea" />
            </div>
            <div class="col-md-12">
                <label>Appointment Color</label>
                <ul class="colors_list">
                    <li v-for="color in colors_list" v-bind:key="color">
                        <a v-on:click="color_hash = color" href="javascript:;" v-bind:class="{ active: color_hash == color }" :style="'background-color: ' + color"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 mt-5 footer">
                <form-button type="submit" :disabled="!is_complete || is_submitted" :is_submitted=is_submitted>Next</form-button>
            </div>
        </div>
    </form>
</template>
<script>
    import Datepicker from 'vuejs-datepicker'

    export default {
        components: {
           Datepicker
        },
        data: function () {
            return {
                first_name: {
                    value: "",
                    error: null,
                    required: true,
                    autofocus: true
                },
                last_name: {
                    value: "",
                    error: null,
                    required: true
                },
                phone_number: {
                    value: "",
                    error: null,
                    required: true
                },
                email: {
                    value: "",
                    error: null,
                    required: true
                },
                user_permission: {
                    value: "",
                    error: null
                },
                staff_title: {
                    value: "",
                    error: null,
                    required: true
                },
                emp_start_date: {
                    value: "",
                    error: null
                },
                emp_end_date: {
                    value: "",
                    error: null
                },
                notes: {
                    value: "",
                    error: null
                },
                appointment_color: {
                    value: "",
                    error: null
                },
                user_permissions_list: [
                    { key: "basic", value: "Basic" },
                    { key: "low", value: "Low" },
                    { key: "medium", value: "Medium" },
                    { key: "high", value: "High" }
                ],
                colors_list: [
                    "#FFC4D6",
                    "#E7B9EA",
                    "#D8DDF5",
                    "#CAD1F0",
                    "#BAECF3",
                    "#A7EBE5",
                    "#C1EDD1",
                    "#E7F286",
                    "#FFEC78",
                    "#FFE6C3"
                ],
                color_hash: "",
                is_submitted: false
            }
        },
        created: function () {
            this.color_hash = this.colors_list[Math.floor(Math.random() * this.colors_list.length)]

            if (this.$route.params.id) {
                this.$http.get("business/staff/" + this.$route.params.id)
                .then(res => {
                    this.first_name.value = res.data.first_name
                    this.last_name.value = res.data.last_name
                    this.phone_number.value = res.data.phone_number
                    this.email.value = res.data.user.email
                    this.user_permission.value = res.data.staff_details.permission
                    this.staff_title.value = res.data.staff_details.staff_title
                    this.emp_start_date.value = new Date(res.data.staff_details.employment_start_date)
                    this.notes.value = res.data.notes
                    this.color_hash = res.data.staff_details.appointment_color

                    if (res.data.staff_details.employment_end_date) {
                        this.emp_end_date.value = new Date(res.data.staff_details.employment_end_date)
                    }
                })
            }
        },
        computed: {
            disabledDatesForEndDate: function () {
                return {
                    to: new Date(this.emp_start_date.value.getFullYear(), this.emp_start_date.value.getMonth(), this.emp_start_date.value.getDate())
                }
            },
            is_complete: function () {
                return this.first_name.value && 
                this.last_name.value &&
                this.phone_number.value &&
                this.email.value &&
                this.staff_title.value &&
                this.emp_start_date.value &&
                this.color_hash
            }
        },
        methods: {
            submitForm: function () {
                this.is_submitted = true

                let data = {
                    first_name: this.first_name.value,
                    last_name: this.last_name.value,
                    phone_number: this.phone_number.value,
                    email: this.email.value,
                    user_permission: this.user_permission.value,
                    staff_title: this.staff_title.value,
                    emp_start_date: this.emp_start_date.value.getFullYear() + "-" + ("0" + (this.emp_start_date.value.getMonth() + 1)).slice(-2) + "-" + ("0" + (this.emp_start_date.value.getDate())).slice(-2),
                    notes: this.notes.value,
                    appointment_color: this.color_hash
                }

                if (this.emp_end_date.value) {
                    data["emp_end_date"] = this.emp_end_date.value.getFullYear() + "-" + ("0" + (this.emp_end_date.value.getMonth() + 1)).slice(-2) + "-" + ("0" + (this.emp_end_date.value.getDate())).slice(-2)
                }

                this.$http.post("business/staff", data)
                .then()
                .catch()
            }
        }
    }
</script>
<style lang="scss" scoped>
    ::v-deep .datepicker {
        background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16"><path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/><path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 13px top 13px;
        cursor: pointer;
    }
    ::v-deep .vdp-datepicker__calendar .cell.selected {
        background: #303f9f;
        color: #FFFFFF;
        border-radius: 5px;
    }
    .colors_list {
        margin: .5rem 0 0;
        li {
            display: inline-block;
            margin-left: 1.5rem;
            &:first-child {
                margin: 0;
            }
            a {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: block;
                &:hover,
                &.active {
                    border: 1px solid #000000;
                }
                &.active {
                    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>');
                    background-repeat: no-repeat;
                    background-position: 50%;
                }
            }
        }
    }
</style>