<template>
    <div>
        <transition name="slide-fade" mode="out-in">
            <div v-if="$route.name !== 'staff.employees'">
                <div class="centralized">
                    <div class="heading-with-back row">
                        <div class="col-lg-12 col-xl-12">
                            <div class="title">
                                <h1>
                                    <router-link :to="{ name: 'setup.index' }" class="go-back">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </router-link>
                                    Basic Details
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <ul class="submenus">
                                <li>
                                    <a href="#" class="router-link-active">Details</a>
                                </li>
                                <li>
                                    <a v-if="$route.params.id" href="#">Locations</a>
                                    <span v-if="!$route.params.id">Locations</span>
                                </li>
                                <li>
                                    <a v-if="$route.params.id" href="#">Services</a>
                                    <span v-if="!$route.params.id">Services</span>
                                </li>
                                <li>
                                    <a v-if="$route.params.id" href="#">Commissions</a>
                                    <span v-if="!$route.params.id">Commissions</span>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <router-view />
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="slide-fade" mode="out-in">
            <div v-if="$route.name === 'staff.employees'" class="inner_staff">
                <div class="heading-with-back row">
                    <div class="col-lg-12 col-xl-12 text-right mb-4">
                        <router-link :to="{ name: 'staff.employees.add' }" class="btn btn-primary">New Staff</router-link>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mobile Number</th>
                                    <th>Email</th>
                                    <th>User Permission</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in list" v-bind:key="row.id" v-on:click="$router.push({name: 'staff.employees.edit', params: {id: row.id}})">
                                    <td>{{ row.first_name }} {{ row.last_name }}</td>
                                    <td>{{ row.phone_number }}</td>
                                    <td>{{ row.user.email }}</td>
                                    <td>{{ row.permission }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                list: []
            }
        },
        created: function () {
            this.$http.get("staff")
            .then(res => {
                this.list = res.data
            })
        }
    }
</script>
<style lang="scss" scoped>
    .card {
        border-radius: 0;
        .card-header {
            padding-bottom: 0;
            .submenus {
                li {
                    color: rgba(16, 25, 40, 0.55);
                    font-weight: 600;
                }
            }
        }
        .card-body {
            .table {
                margin: 0;
                thead {
                    th {
                        border: 0;
                        font-weight: 600;
                    }
                }
                tbody {
                    tr {
                        cursor: pointer;
                    }
                    td {
                        padding: 1.5rem 0.75rem;
                    }
                }
            }
        }
    }
@media only screen and (max-width: 1024px){
    .content-wrapper {
        .container-body {
          .inner_staff{
           padding: 20px;
          }
        }
    }
}

@media only screen and (max-width: 980px){
.card-body{
        padding: 0.8rem;
    }

}

@media (max-width: 768px) {
     .inner_staff{
         .card{ 
             .card-body {
                 .table thead td,
                .table thead th{
                        border-bottom: 1px solid #dee2e6;
                }
             }
         }
     }
}

@media (max-width: 650px) {
     .inner_staff{
         .card{ 
             .card-body {
                 padding: 0;
                .table thead td,
                .table thead th{
                        font-size: 13px;
                        padding: 6px;
                }
             }
         }
     }
}


</style>