<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>
<style lang="scss">
    @import 'assets/css/_variables.scss';
    @import '~bootstrap/scss/bootstrap.scss';
    @import 'assets/css/flags.css';

    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    body {
        background: #F7F7F8;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.2s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(20px);
        opacity: 0;
    }

    .slide-down-enter-active,
    .slide-down-leave-active {
        transition: all .3s ease;
    }
    .slide-down-enter, .slide-down-leave-to {
        transform: translateY(-10px);
    }
    
    .slide-down-fade-enter-active,
    .slide-down-fade-leave-active {
        transition: all .3s ease;
    }
    .slide-down-fade-enter, .slide-down-fade-leave-to {
        transform: translateY(-10px);
        opacity: 0;
    }
</style>