<template>
    <div class="forgot-password">
        <h1 class="mb-4">Forgot Password</h1>
        <p class="intro-text mb-4">An email will be sent to your email address with the reset password instructions.</p>
        <form v-on:submit.prevent="submitForm" autocomplete="off">
            <div class="form-group">
                <label>E-mail address *</label>
                <input v-model="email.value" type="email" :class="'form-control' + (email.error ? ' is-invalid' : '')" required autofocus />
                <span v-html="email.error" class="invalid-feedback"></span>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary btn-block w-100" :disabled="is_submitted || !is_complete">
                    <span v-if="is_submitted" class="spinner-border spinner-border-sm"></span> Send Reset Password Instructions
                </button>
            </div>
            <div class="signup-footer text-center">
                <router-link to="/auth/login">Back to Log in</router-link>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                email: {
                    value: "",
                    error: null
                },
                is_submitted: false
            }
        },
        computed: {
            is_complete: function () {
                return !this.isEmpty(this.email.value) &&
                this.isValidEmail(this.email.value)
            }
        },
        watch: {
            "email.value": function (str) {
                this.email.error = null

                if (this.isEmpty(str)) {
                    this.email.error = this.REQUIRED_MESSAGE
                } else if (!this.isValidEmail(str)) {
                    this.email.error = this.INVALID_EMAIL_MESSAGE
                }
            }
        },
        methods: {
            submitForm: function () {
                this.is_submitted = true
                this.$http.post("forgot-password", {
                    email: this.email.value
                })
                .then(res => {
                    if (res.data.success) {
                        this.$root.$toast.open(res.data.message)
                        this.$router.push({name: "auth.login"})
                    } else {
                        this.$root.$toast.open({ message: res.data.message, type: "error" })
                    }
                })
                .catch(error => {
                    this.email.error = error.response.data.email[0]
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>
<style scoped>
    h1 {
        text-align: left;
        font-size: 1.6rem;
    }
    @media (min-width: 992px) {
        .forgot-password {
            max-width: 500px;
        }
    }
</style>