<template>
    <div class="login">
        <h1>Sign In to your Business Account</h1>
        <p class="intro-text text-center mb-5">Access your account to manage your business</p>
        <form v-on:submit.prevent="submitForm" autocomplete="off">
            <form-input :model=email label="E-mail address" type="email" />
            <form-password :model=password label="Password">
                <template v-slot:label>
                    <router-link :to="{ name: 'auth.forgot-password' }" tabindex="-1" class="float-right forgot-password">Forgot Password</router-link>
                </template>
            </form-password>
            <div class="form-group mt-4">
                <form-button type="submit" class="btn-block w-100" :disabled="!is_complete || is_submitted" :is_submitted=is_submitted>Log In</form-button>
            </div>
            <div class="signup-footer mt-4 text-center">
                Don't have an account?<br />
                <router-link :to="{ name: 'auth.signup' }">Sign up for your business account</router-link>
            </div>
        </form>
    </div>
</template>

<script>
    import FormPassword from "../helpers/form-password"

    export default {
        components: {
            FormPassword
        },
        data: function () {
            return {
                email: {
                    value: "",
                    error: null,
                    autofocus: true,
                    rules: {
                        required: true,
                        email: true
                    }
                },
                password: {
                    value: "",
                    error: null,
                    rules: {
                        required: true
                    }
                },
                show_password: false,
                is_submitted: false
            }
        },
        created: function () {
            if (this.$route.query.status == "1") {
                this.$root.$toast.open("Email verified. Please login to continue.")
            } else if (this.$route.query.status == "2") {
                this.$root.$toast.open({ message: "Email verification link has expired.", type: "error" })
            } else if (this.$route.query.status == "3") {
                this.$root.$toast.open({ message: "Access denied. Please login to continue.", type: "error" })
            }
        },
        computed: {
            is_complete: function () {
                return !this.isEmpty(this.email.value) &&
                !this.isEmpty(this.password.value) &&
                this.isValidEmail(this.email.value)
            }
        },
        methods: {
            submitForm: function () {
                this.is_submitted = true
                
                this.$store.dispatch("login", {
                    email: this.email.value,
                    password: this.password.value
                })
                .then(res => {
                    this.$root.$toast.open(res.data.message)
                    this.$router.push({ name: "setup.index" })
                })
                .catch(errors => {
                    this.password.value = null
                    this.appendErrors(errors, this)
                })
                .finally(() => {
                    this.is_submitted = false
                })
            }
        }
    }
</script>
<style scoped>
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .forgot-password {
        font-size: 0.8rem;
        padding-top: .2rem;
    }
    @media only screen and (max-width: 640px) {
        h1 {
            font-size: 1.2rem;
        }
        .intro-text {
            font-size: 0.8rem;
        }
    }
</style>