<template>
  <div class="signup">
    <h1>New Business Setup</h1>
        <form v-on:submit.prevent="submitForm" autocomplete="off">
            <div class="form-group">
                <label for="business_name">Business Name *</label>
                <input v-model="business_name.value" type="text" :class="'form-control' + (business_name.error ? ' is-invalid' : '')" required />
                <span v-html="business_name.error" class="invalid-feedback"></span>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="first_name">Your First Name *</label>
                    <input v-model="first_name.value" type="text" :class="'form-control' + (first_name.error ? ' is-invalid' : '')" required />
                    <span v-html="first_name.error" class="invalid-feedback"></span>
                </div>
                <div class="col-md-6">
                    <label for="last_name">Your Last Name *</label>
                    <input v-model="last_name.value" type="text" :class="'form-control' + (last_name.error ? ' is-invalid' : '')" required />
                    <span v-html="last_name.error" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="email">E-mail address (Admin Login) *</label>
                    <input v-model="email.value" type="email" :class="'form-control' + (email.error ? ' is-invalid' : '')" required />
                    <span v-html="email.error" class="invalid-feedback"></span>
                    <small>* <i>also used for communication with you</i></small>
                </div>
                <div class="col-md-6">
                    <label for="phone_number">Phone Number *</label>
                    <div class="input-group country_num">
                        <div class="input-group-prepend f16">
                            <button v-html="phonecode.flag + ' ' + phonecode.code" v-on:click="onTriggerPhoneCodes()" class="btn input-group-text dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <transition name="slide-down-fade" mode="out-in">
                                <div v-if="showPhoneCodes" class="dropdown-menu show">
                                    <input type="text" class="form-control" v-model="phoneCodeFilter" placeholder="Search Country or Phonecode here..." autofocus />
                                    <div class="scroll">
                                        <a v-for="row in filteredPhoneCodes" v-bind:key="row.id" v-on:click="country_id = row.id; showPhoneCodes = false;" href="javascript:;" class="dropdown-item">
                                            <span :class="'flag ' + row.sortname.toLowerCase()"></span>
                                            {{ row.name }} ({{ row.phonecode }})
                                        </a>
                                    </div>
                                </div>
                            </transition>
                        </div>
                        <input v-model="phone_number.value" type="text" :class="'form-control' + (phone_number.error ? ' is-invalid' : '')" />
                        <span v-html="phone_number.error" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="password">Password *</label>
                    <input v-on:keyup="validatePassword()" v-on:focus="showHint = true" v-on:blur="showHint = false" v-model="password.value" type="password" :class="'form-control' + (password.error ? ' is-invalid' : '')" required />
                    <span v-html="password.error" class="invalid-feedback"></span>
                    <span v-if="showHint" class="hint">
                        <span :class="minLengthValidation">Minimum 8 characters</span><br />
                        <span :class="upperOrLowerCaseValidation">One uppercase and one lowercase</span><br />
                        <span :class="numberValidation">One number</span>
                    </span>
                </div>
                <div class="col-md-6">
                    <label for="confirm_password">Confirm Password *</label>
                    <input v-on:input="validateConfirmPassword()" v-model="confirm_password.value" type="password" :class="'form-control' + (confirm_password.error ? ' is-invalid' : '')" required :disabled="!password.value" />
                    <span v-html="confirm_password.error" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input v-model="privacy_policy.value" class="form-check-input" type="checkbox" />
                    I agree to the <a href="https://servuapp.com/privacy-policy" target="_blank">privacy policy</a> and <a href="https://servuapp.com/terms-conditions" target="_blank">terms</a>
                </label>
            </div>
            <div class="form-group">
                <form-button type="submit" class="btn-block w-100" :disabled="!is_complete || is_submitted" :is_submitted=is_submitted>Register my business on ServU</form-button>
            </div>
            <div class="signup-footer text-center">
                Already have an account?
                <router-link to="/auth/login">Sign In</router-link>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            business_name: {
                value: "",
                error: null,
            },
            first_name: {
                value: "",
                error: null,
            },
            last_name: {
                value: "",
                error: null,
            },
            email: {
                value: "",
                error: null,
            },
            phone_number: {
                value: "",
                error: null,
            },
            password: {
                value: "",
                error: null,
            },
            confirm_password: {
                value: "",
                error: null,
            },
            privacy_policy: {
                value: "",
                error: null,
            },
            showPhoneCodes: false,
            phoneCodeFilter: "",
            phonecodes: [],
            country_id: 0,
            showHint: false,
            minLengthValidation: "text-danger",
            upperOrLowerCaseValidation: "text-danger",
            numberValidation: "text-danger",
            is_submitted: false,
        }
    },
    created: function () {
        this.$http.get("countries").then((res) => {
            this.phonecodes = res.data;
        });
    },
    computed: {
        filteredPhoneCodes: function () {
            if (this.phoneCodeFilter) {
                return this.phonecodes.filter((row) => {
                    if (row.phonecode.toString().includes(this.phoneCodeFilter) || row.name.toLowerCase().includes(this.phoneCodeFilter.toLowerCase())) {
                        return row;
                    }
                });
            }

            return this.phonecodes;
        },
        phonecode: function () {
            let phonecode = {
                flag: "",
                code: "-",
            };

            if (this.country_id) {
                const row = this.phonecodes.filter((row) => {
                    if (row.id == this.country_id) {
                        return row;
                    }
                });

                return {
                    flag: "<span class='flag " + row[0].sortname.toLowerCase() + "'></span> ",
                    code: row[0].phonecode,
                };
            }

            return phonecode;
        },
        is_complete: function () {
            return (
                this.business_name.value &&
                this.first_name.value &&
                this.last_name.value &&
                this.email.value && 
                /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.email.value) &&
                this.phone_number.value &&
                this.password.value &&
                this.minLengthValidation === "text-success" &&
                this.upperOrLowerCaseValidation === "text-success" &&
                this.numberValidation === "text-success" &&
                this.confirm_password.value == this.password.value &&
                this.privacy_policy.value
            )
        }
    },
    methods: {
        onTriggerPhoneCodes: function () {
            document.activeElement.blur();
            this.showPhoneCodes = !this.showPhoneCodes;
            this.phoneCodeFilter = "";
        },
        validatePassword: function () {
            if (this.password.value && this.password.value.length >= 8) {
                this.minLengthValidation = "text-success";
            } else {
                this.minLengthValidation = "text-danger";
            }

            if (/[a-z]/.test(this.password.value) && /[A-Z]/.test(this.password.value)) {
                this.upperOrLowerCaseValidation = "text-success";
            } else {
                this.upperOrLowerCaseValidation = "text-danger";
            }

            if (/[0-9]/.test(this.password.value)) {
                this.numberValidation = "text-success";
            } else {
                this.numberValidation = "text-danger";
            }
        },
        validateConfirmPassword: function () {
            if (this.password.value && this.confirm_password.value && this.password.value != this.confirm_password.value) {
                this.confirm_password.error = "Confirm password field does not match.";
            } else {
                this.confirm_password.error = null;
            }
        },
        submitForm: function () {
            this.$http.post("business", {
                business_name: this.business_name.value,
                first_name: this.first_name.value,
                last_name: this.last_name.value,
                email: this.email.value,
                phone_number: this.phone_number.value,
                password: this.password.value,
                confirm_password: this.confirm_password.value,
                privacy_policy: this.privacy_policy.value,
                country_id: this.country_id
            })
            .then((res) => {
                if (res.data.success) {
                    this.$root.$toast.open(res.data.message);
                    this.$router.push({ name: "auth.login" });
                }
            })
            .catch((errors) => {
                this.password.value = null;
                this.confirm_password.value = null;
                this.appendErrors(errors, this);
            })
            .finally(() => {
                this.is_submitted = false;
            });
        }
    }
};
</script>
<style scoped>
    .dropdown-menu {
        width: 100%;
        padding: 1rem;
    }

    .dropdown-menu input {
        margin-bottom: 1rem;
    }

    .dropdown-menu .scroll {
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    h1 {
        display: none;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .col-md-6:last-child {
        margin-top: 1rem;
    }

    .form-check-label {
        font-size: 0.9rem;
    }

    @media (min-width: 992px) {
        .signup {
            width: 700px;
        }

        h1 {
            display: block;
        }

        .form-group {
            margin-top: 2rem;
        }

        .col-md-6:last-child {
            margin-top: 0;
        }

        .form-check-label {
            font-size: 1rem;
        }
    }

    .country_num .dropdown-menu {
        padding: 0;
    }

    .country_num .dropdown-menu .scroll a {
        padding: 9px 14px;
        outline: none;
        font-weight: 600;
        font-size: 13px;
    }
    .country_num .dropdown-menu input{
        border: 1px solid #0000001c;
    } 
    .country_num .dropdown-menu .scroll a:hover,
    .country_num .dropdown-menu .scroll a:focus {
        background-color: #303f9f;
        color: #fff;
    }
    .country_num .form-control {
        margin-bottom: 0;
        border-radius: 0;
    }
</style>